{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Finnhub API - Calendar",
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "description": "Finnhub API endpoints for calendar"
  },
  "host": "finnhub.io",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "token",
      "in": "query"
    }
  },
  "paths": {
    "/calendar/earnings": {
      "get": {
        "summary": "Earnings Calendar",
        "description": "Get historical and coming earnings release. EPS and Revenue in this endpoint are non-GAAP, which means they are adjusted to exclude some one-time or unusual items. This is the same data investors usually react to and talked about on the media. Estimates are sourced from both sell-side and buy-side analysts.",
        "operationId": "earnings-calendar",
        "navHeader": "Earnings Calendar",
        "urlId": "earnings-calendar",
        "title": "Earnings Calendar API | Finnhub Stock API",
        "examples": [
          {
            "url": "/calendar/earnings?from=2025-02-01&to=2025-03-10&token=<token>",
            "text": "/calendar/earnings?from=2025-02-01&to=2025-03-10"
          },
          {
            "url": "/calendar/earnings?from=2024-03-01&to=2025-03-09&symbol=AAPL&token=<token>",
            "text": "/calendar/earnings?from=2024-03-01&to=2025-03-09&symbol=AAPL"
          }
        ],
        "widget": null,
        "freeTier": "1 month of historical earnings and new updates",
        "premium": null,
        "newEndpoint": "New Endpoint",
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Estimates",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "description": "From date: 2020-03-15.",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "to",
            "description": "To date: 2020-03-16.",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "symbol",
            "description": "Filter by symbol: AAPL.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "international",
            "description": "Set to <code>true</code> to include international markets. Default value is <code>false</code>",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/EarningsCalendar"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.earnings_calendar(_from=\"2021-06-10\", to=\"2021-06-30\", symbol=\"\", international=False))",
          "go": "res, _, err := finnhubClient.EarningsCalendar(context.Background()).From(\"2021-07-01\").To(\"2021-07-30\").Execute()",
          "javascript": "finnhubClient.earningsCalendar({\"from\": \"2021-06-01\", \"to\": \"2021-06-30\"}, (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.earnings_calendar({from: \"2021-06-10\", to: \"2021-06-30\", symbol: \"\", international: false}))",
          "kotlin": "println(apiClient.earningsCalendar(from = \"2020-06-10\", to = \"2020-06-30\", symbol = \"\", international = false))",
          "php": "print_r($client->earningsCalendar(\"2020-06-10\", \"2020-06-30\", null, false));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"earningsCalendar\": [\n    {\n      \"date\": \"2020-01-28\",\n      \"epsActual\": 4.99,\n      \"epsEstimate\": 4.5474,\n      \"hour\": \"amc\",\n      \"quarter\": 1,\n      \"revenueActual\": 91819000000,\n      \"revenueEstimate\": 88496400810,\n      \"symbol\": \"AAPL\",\n      \"year\": 2020\n    },\n    {\n      \"date\": \"2019-10-30\",\n      \"epsActual\": 3.03,\n      \"epsEstimate\": 2.8393,\n      \"hour\": \"amc\",\n      \"quarter\": 4,\n      \"revenueActual\": 64040000000,\n      \"revenueEstimate\": 62985161760,\n      \"symbol\": \"AAPL\",\n      \"year\": 2019\n    }\n   ]\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/calendar/economic": {
      "get": {
        "summary": "Economic Calendar",
        "description": "<p>Get recent and upcoming economic releases.</p><p>Historical events and surprises are available for Enterprise clients.</p>",
        "operationId": "economic-calendar",
        "navHeader": "Economic Calendar",
        "urlId": "economic-calendar",
        "title": "Economic Calendar API | Finnhub",
        "examples": [
          {
            "url": "/calendar/economic?token=<token>",
            "text": "/calendar/economic"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Economic",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "description": "From date <code>YYYY-MM-DD</code>.",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "to",
            "description": "To date <code>YYYY-MM-DD</code>.",
            "required": false,
            "type": "string",
            "format": "date"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/EconomicCalendar"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.calendar_economic())",
          "go": "res, _, err := finnhubClient.EconomicCalendar(context.Background()).Execute()",
          "javascript": "finnhubClient.economicCalendar((error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.economic_calendar())",
          "kotlin": "println(apiClient.economicCalendar())",
          "php": "print_r($client->economicCalendar());",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"economicCalendar\": [\n    {\n      \"actual\": 8.4,\n      \"country\": \"AU\",\n      \"estimate\": 6.9,\n      \"event\": \"Australia - Current Account Balance\",\n      \"impact\": \"low\",\n      \"prev\": 1,\n      \"time\": \"2020-06-02 01:30:00\",\n      \"unit\": \"AUD\"\n    },\n    {\n      \"actual\": 0.5,\n      \"country\": \"AU\",\n      \"estimate\": 0.4,\n      \"event\": \"Australia- Net Exports\",\n      \"impact\": \"low\",\n      \"prev\": -0.1,\n      \"time\": \"2020-06-02 01:30:00\",\n      \"unit\": \"%\"\n    }\n  ]\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/calendar/ipo": {
      "get": {
        "summary": "IPO Calendar",
        "description": "Get recent and upcoming IPO.",
        "operationId": "ipo-calendar",
        "navHeader": "IPO Calendar",
        "urlId": "ipo-calendar",
        "title": "IPO Calendar API",
        "examples": [
          {
            "url": "/calendar/ipo?from=2020-01-01&to=2020-04-30&token=<token>",
            "text": "/calendar/ipo?from=2020-01-01&to=2020-04-30"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": null,
        "newEndpoint": "New Endpoint",
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Fundamentals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "description": "From date: 2020-03-15.",
            "required": true,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "to",
            "description": "To date: 2020-03-16.",
            "required": true,
            "type": "string",
            "format": "date"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/IPOCalendar"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.ipo_calendar(_from=\"2020-05-01\", to=\"2020-06-01\"))",
          "go": "res, _, err := finnhubClient.IpoCalendar(context.Background()).From(\"2021-01-01\").To(\"2021-06-30\").Execute()",
          "javascript": "finnhubClient.ipoCalendar(\"2020-01-01\", \"2020-06-15\", (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.ipo_calendar(\"2020-05-01\", \"2020-06-01\"))",
          "kotlin": "println(apiClient.ipoCalendar(from = \"2020-05-01\", to = \"2020-06-01\"))",
          "php": "print_r($client->ipoCalendar(\"2020-05-01\", \"2020-06-01\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"ipoCalendar\": [\n    {\n      \"date\": \"2020-04-03\",\n      \"exchange\": \"NASDAQ Global\",\n      \"name\": \"ZENTALIS PHARMACEUTICALS, LLC\",\n      \"numberOfShares\": 7650000,\n      \"price\": \"16.00-18.00\",\n      \"status\": \"expected\",\n      \"symbol\": \"ZNTL\",\n      \"totalSharesValue\": 158355000\n    },\n    {\n      \"date\": \"2020-04-01\",\n      \"exchange\": \"NASDAQ Global\",\n      \"name\": \"WIMI HOLOGRAM CLOUD INC.\",\n      \"numberOfShares\": 5000000,\n      \"price\": \"5.50-7.50\",\n      \"status\": \"expected\",\n      \"symbol\": \"WIMI\",\n      \"totalSharesValue\": 43125000\n    },\n  ]\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "definitions": {
    "EarningRelease": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "date": {
          "description": "Date.",
          "type": "string",
          "format": "date"
        },
        "hour": {
          "description": "Indicates whether the earnings is announced before market open(<code>bmo</code>), after market close(<code>amc</code>), or during market hour(<code>dmh</code>).",
          "type": "string"
        },
        "year": {
          "description": "Earnings year.",
          "type": "integer",
          "format": "int64"
        },
        "quarter": {
          "description": "Earnings quarter.",
          "type": "integer",
          "format": "int64"
        },
        "epsEstimate": {
          "description": "EPS estimate.",
          "type": "number",
          "format": "float"
        },
        "epsActual": {
          "description": "EPS actual.",
          "type": "number",
          "format": "float"
        },
        "revenueEstimate": {
          "description": "Revenue estimate including Finnhub's proprietary estimates.",
          "type": "number",
          "format": "float"
        },
        "revenueActual": {
          "description": "Revenue actual.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "EarningsCalendar": {
      "type": "object",
      "properties": {
        "earningsCalendar": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EarningRelease"
          },
          "description": "Array of earnings release."
        }
      }
    },
    "Economic event": {
      "type": "object",
      "properties": {
        "actual": {
          "description": "Actual release",
          "type": "number",
          "format": "float"
        },
        "prev": {
          "description": "Previous release",
          "type": "number",
          "format": "float"
        },
        "country": {
          "description": "Country",
          "type": "string"
        },
        "unit": {
          "description": "Unit",
          "type": "string"
        },
        "estimate": {
          "description": "Estimate",
          "type": "number",
          "format": "float"
        },
        "event": {
          "description": "Event",
          "type": "string"
        },
        "impact": {
          "description": "Impact level",
          "type": "string"
        },
        "time": {
          "description": "Release time",
          "type": "string"
        }
      }
    },
    "EconomicCalendar": {
      "type": "object",
      "properties": {
        "economicCalendar": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Economic event"
          },
          "description": "Array of economic events."
        }
      }
    },
    "IPOCalendar": {
      "type": "object",
      "properties": {
        "ipoCalendar": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IPOEvent"
          },
          "description": "Array of IPO events."
        }
      }
    },
    "IPOEvent": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "date": {
          "description": "IPO date.",
          "type": "string",
          "format": "date"
        },
        "exchange": {
          "description": "Exchange.",
          "type": "string"
        },
        "name": {
          "description": "Company's name.",
          "type": "string"
        },
        "status": {
          "description": "IPO status. Can take 1 of the following values: <code>expected</code>,<code>priced</code>,<code>withdrawn</code>,<code>filed</code>",
          "type": "string"
        },
        "price": {
          "description": "Projected price or price range.",
          "type": "string"
        },
        "numberOfShares": {
          "description": "Number of shares offered during the IPO.",
          "type": "number",
          "format": "float"
        },
        "totalSharesValue": {
          "description": "Total shares value.",
          "type": "number",
          "format": "float"
        }
      }
    }
  }
}