{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Finnhub API - Etf",
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "description": "Finnhub API endpoints for etf"
  },
  "host": "finnhub.io",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "token",
      "in": "query"
    }
  },
  "paths": {
    "/etf/country": {
      "get": {
        "summary": "ETFs Country Exposure",
        "description": "Get ETF country exposure data.",
        "operationId": "etfs-country-exposure",
        "navHeader": "ETFs Country",
        "urlId": "etfs-country-exposure",
        "title": "Global ETFs Country Exposure Breakdown",
        "examples": [
          {
            "url": "/etf/country?symbol=SPY&token=<token>",
            "text": "/etf/country?symbol=SPY"
          },
          {
            "url": "/etf/country?symbol=VOO&token=<token>",
            "text": "/etf/country?symbol=VOO"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "ETFs & Indices",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "ETF symbol.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "isin",
            "description": "ETF isin.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/ETFsCountryExposure"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.etfs_country_exp('SPY'))",
          "go": "res, _, err := finnhubClient.EtfsCountryExposure(context.Background()).Symbol(\"SPY\").Execute()",
          "javascript": "finnhubClient.etfsCountryExposure('SPY', (error, data, response) => {\n  console.log(data);\n});",
          "ruby": "puts(finnhub_client.etfs_country_exposure('SPY'))",
          "kotlin": "println(apiClient.etfsCountryExposure(\"SPY\"))",
          "php": "print_r($client->etfsCountryExposure(\"SPY\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"countryExposure\": [\n    {\n      \"country\": \"United States of America (the)\",\n      \"exposure\": 97.02\n    },\n    {\n      \"country\": \"Ireland\",\n      \"exposure\": 1.65\n    },\n    {\n      \"country\": \"United Kingdom of Great Britain and Northern Ireland (the)\",\n      \"exposure\": 0.88\n    },\n    {\n      \"country\": \"Switzerland\",\n      \"exposure\": 0.41\n    },\n    {\n      \"country\": \"Bermuda\",\n      \"exposure\": 0.03\n    }\n  ],\n  \"symbol\": \"SPY\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/etf/holdings": {
      "get": {
        "summary": "ETFs Holdings",
        "description": "Get full ETF holdings/constituents. This endpoint has global coverage. Widget only shows top 10 holdings. A list of supported ETFs can be found <a href=\"/api/v1/etf/list?token=\" target=\"_blank\">here</a>.",
        "operationId": "etfs-holdings",
        "navHeader": "ETFs Holdings",
        "urlId": "etfs-holdings",
        "title": "Global ETFs Holdings & Constituents API",
        "examples": [
          {
            "url": "/etf/holdings?symbol=SPY&token=<token>",
            "text": "/etf/holdings?symbol=SPY"
          },
          {
            "url": "/etf/holdings?symbol=AVUV&skip=1&token=<token>",
            "text": "/etf/holdings?symbol=AVUV&skip=1"
          },
          {
            "url": "/etf/holdings?symbol=IPO&date=2025-02-04&token=<token>",
            "text": "/etf/holdings?symbol=IPO&date=2025-02-04"
          }
        ],
        "widget": {
          "url": "https://widget.finnhub.io/widgets/etf-holdings?symbol=ARKK&theme=dark",
          "height": 600
        },
        "freeTier": null,
        "premium": "Premium required.",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "ETFs & Indices",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "ETF symbol.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "isin",
            "description": "ETF isin.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "Skip the first n results. You can use this parameter to query historical constituents data. The latest result is returned if skip=0 or not set.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "date",
            "description": "Query holdings by date. You can use either this param or <code>skip</code> param, not both.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/ETFsHoldings"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.etfs_holdings('SPY'))",
          "go": "res, _, err := finnhubClient.EtfsHoldings(context.Background()).Symbol(\"SPY\").Execute()",
          "javascript": "finnhubClient.etfsHoldings({'symbol': 'ARKK'}, (error, data, response) => {\n  console.log(data);\n});",
          "ruby": "puts(finnhub_client.etfs_holdings({symbol:'SPY'}))",
          "kotlin": "println(apiClient.etfsHoldings(\"SPY\", \"\", 0, \"\"))",
          "php": "print_r($client->etfsHoldings(\"SPY\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"atDate\": \"2023-03-24\",\n  \"holdings\": [\n    {\n      \"assetType\": \"Equity\",\n      \"cusip\": \"88160R101\",\n      \"isin\": \"US88160R1014\",\n      \"name\": \"TESLA INC\",\n      \"percent\": 10.54,\n      \"share\": 3971395,\n      \"symbol\": \"TSLA\",\n      \"value\": 763381546.9\n    },\n    {\n      \"assetType\": \"Equity\",\n      \"cusip\": \"98980L101\",\n      \"isin\": \"US98980L1017\",\n      \"name\": \"ZOOM VIDEO COMMUNICATIONS-A\",\n      \"percent\": 8.05,\n      \"share\": 8418916,\n      \"symbol\": \"ZM\",\n      \"value\": 582504798.04\n    },\n  ],\n  \"numberOfHoldings\": 28,\n  \"symbol\": \"ARKK\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/etf/profile": {
      "get": {
        "summary": "ETFs Profile",
        "description": "Get ETF profile information. This endpoint has global coverage. A list of supported ETFs can be found <a href=\"/api/v1/etf/list?token=\" target=\"_blank\">here</a>.",
        "operationId": "etfs-profile",
        "navHeader": "ETFs Profile",
        "urlId": "etfs-profile",
        "title": "Global ETFs profile",
        "examples": [
          {
            "url": "/etf/profile?symbol=SPY&token=<token>",
            "text": "/etf/profile?symbol=SPY"
          },
          {
            "url": "/etf/profile?isin=US78462F1030&token=<token>",
            "text": "/etf/profile?isin=US78462F1030"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium required.",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "ETFs & Indices",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "ETF symbol.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "isin",
            "description": "ETF isin.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/ETFsProfile"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.etfs_profile('SPY'))",
          "go": "res, _, err := finnhubClient.EtfsProfile(context.Background()).Symbol(\"SPY\").Execute()",
          "javascript": "finnhubClient.etfsProfile({'symbol': 'SPY'}, (error, data, response) => {\n  console.log(data);\n});",
          "ruby": "puts(finnhub_client.etfs_profile({symbol:'SPY'}))",
          "kotlin": "println(apiClient.etfsProfile(\"SPY\", \"\"))",
          "php": "print_r($client->etfsProfile(\"SPY\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"profile\": {\n    \"assetClass\": \"Equity\",\n    \"aum\": 318374000000,\n    \"avgVolume\": 63794600,\n    \"cusip\": \"\",\n    \"description\": \"SPY was created on 1993-01-22 by SPDR. The fund's investment portfolio concentrates primarily on large cap equity. The ETF currently has 318374.0m in AUM and 504 holdings. SPY tracks a market-cap-weighted index of US large- and midcap stocks selected by the S\\u0026P Committee.\",\n    \"domicile\": \"US\",\n    \"etfCompany\": \"SPDR\",\n    \"expenseRatio\": 0.0945,\n    \"inceptionDate\": \"1993-01-22\",\n    \"investmentSegment\": \"Large Cap\",\n    \"isin\": \"\",\n    \"name\": \"SPDR S\\u0026P 500 ETF Trust\",\n    \"nav\": 366.2784,\n    \"navCurrency\": \"USD\",\n    \"priceToBook\": 3.943968,\n    \"priceToEarnings\": 26.82968,\n    \"trackingIndex\": \"S\\u0026P 500\",\n    \"logo\": \"https://static2.finnhub.io/file/publicdatany/finnhubimage/etf_logo/spdr.png\",\n    \"website\": \"https://us.spdrs.com/en/etf/spdr-sp-500-etf-SPY\"\n  },\n  \"symbol\": \"SPY\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/etf/sector": {
      "get": {
        "summary": "ETFs Sector Exposure",
        "description": "Get ETF sector exposure data.",
        "operationId": "etfs-sector-exposure",
        "navHeader": "ETFs Sector",
        "urlId": "etfs-sector-exposure",
        "title": "Global ETFs Sector Breakdown",
        "examples": [
          {
            "url": "/etf/sector?symbol=SPY&token=<token>",
            "text": "/etf/sector?symbol=SPY"
          },
          {
            "url": "/etf/sector?symbol=VOO&token=<token>",
            "text": "/etf/sector?symbol=VOO"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "ETFs & Indices",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "ETF symbol.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "isin",
            "description": "ETF isin.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/ETFsSectorExposure"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.etfs_sector_exp('SPY'))",
          "go": "res, _, err := finnhubClient.EtfsSectorExposure(context.Background()).Symbol(\"SPY\").Execute()",
          "javascript": "finnhubClient.etfsSectorExposure('SPY', (error, data, response) => {\n  console.log(data);\n});",
          "ruby": "puts(finnhub_client.etfs_sector_exposure('SPY'))",
          "kotlin": "println(apiClient.etfsSectorExposure(\"SPY\"))",
          "php": "print_r($client->etfsSectorExposure(\"SPY\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"sectorExposure\": [\n    {\n      \"exposure\": 31.96,\n      \"industry\": \"Technology\"\n    },\n    {\n      \"exposure\": 14.79,\n      \"industry\": \"Healthcare\"\n    },\n    {\n      \"exposure\": 13.46,\n      \"industry\": \"Consumer Cyclicals\"\n    }\n  ],\n  \"symbol\": \"SPY\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "definitions": {
    "ETFCountryExposureData": {
      "type": "object",
      "properties": {
        "country": {
          "description": "Country",
          "type": "string"
        },
        "exposure": {
          "description": "Percent of exposure.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "ETFHoldingsData": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol description",
          "type": "string"
        },
        "name": {
          "description": "Security name",
          "type": "string"
        },
        "isin": {
          "description": "ISIN.",
          "type": "string"
        },
        "cusip": {
          "description": "CUSIP.",
          "type": "string"
        },
        "share": {
          "description": "Number of shares owned by the ETF.",
          "type": "number",
          "format": "float"
        },
        "percent": {
          "description": "Portfolio's percent",
          "type": "number",
          "format": "float"
        },
        "value": {
          "description": "Market value",
          "type": "number",
          "format": "float"
        },
        "assetType": {
          "description": "Asset type. Can be 1 of the following values: <code>Equity</code>, <code>ETP</code>, <code>Fund</code>, <code>Bond</code>, <code>Other</code> or empty.",
          "type": "string"
        }
      }
    },
    "ETFProfileData": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name",
          "type": "string"
        },
        "assetClass": {
          "description": "Asset Class.",
          "type": "string"
        },
        "investmentSegment": {
          "description": "Investment Segment.",
          "type": "string"
        },
        "aum": {
          "description": "AUM.",
          "type": "number",
          "format": "float"
        },
        "nav": {
          "description": "NAV.",
          "type": "number",
          "format": "float"
        },
        "navCurrency": {
          "description": "NAV currency.",
          "type": "string"
        },
        "expenseRatio": {
          "description": "Expense ratio. For non-US funds, this is the <a href=\"https://www.esma.europa.eu/sites/default/files/library/2015/11/09_1028_final_kid_ongoing_charges_methodology_for_publication_u_2_.pdf\" target=\"_blank\">KID ongoing charges<a/>.",
          "type": "number",
          "format": "float"
        },
        "trackingIndex": {
          "description": "Tracking Index.",
          "type": "string"
        },
        "etfCompany": {
          "description": "ETF issuer.",
          "type": "string"
        },
        "domicile": {
          "description": "ETF domicile.",
          "type": "string"
        },
        "inceptionDate": {
          "description": "Inception date.",
          "type": "string",
          "format": "date"
        },
        "website": {
          "description": "ETF's website.",
          "type": "string"
        },
        "logo": {
          "description": "Logo.",
          "type": "string"
        },
        "isin": {
          "description": "ISIN.",
          "type": "string"
        },
        "cusip": {
          "description": "CUSIP.",
          "type": "string"
        },
        "priceToEarnings": {
          "description": "P/E.",
          "type": "number",
          "format": "float"
        },
        "priceToBook": {
          "description": "P/B.",
          "type": "number",
          "format": "float"
        },
        "avgVolume": {
          "description": "30-day average volume.",
          "type": "number",
          "format": "float"
        },
        "description": {
          "description": "ETF's description.",
          "type": "string"
        },
        "isInverse": {
          "description": "Whether the ETF is inverse",
          "type": "boolean"
        },
        "isLeveraged": {
          "description": "Whether the ETF is leveraged",
          "type": "boolean"
        },
        "leverageFactor": {
          "description": "Leverage factor.",
          "type": "number",
          "format": "float"
        },
        "dividendYield": {
          "description": "Dividend yield.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "ETFSectorExposureData": {
      "type": "object",
      "properties": {
        "industry": {
          "description": "Industry",
          "type": "string"
        },
        "exposure": {
          "description": "Percent of exposure.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "ETFsCountryExposure": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "ETF symbol.",
          "type": "string"
        },
        "countryExposure": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ETFCountryExposureData"
          },
          "description": "Array of countries and and exposure levels."
        }
      }
    },
    "ETFsHoldings": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "ETF symbol.",
          "type": "string"
        },
        "atDate": {
          "description": "Holdings update date.",
          "type": "string",
          "format": "date"
        },
        "numberOfHoldings": {
          "description": "Number of holdings.",
          "type": "integer",
          "format": "int64"
        },
        "holdings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ETFHoldingsData"
          },
          "description": "Array of holdings."
        }
      }
    },
    "ETFsProfile": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "profile": {
          "type": "object",
          "$ref": "#/definitions/ETFProfileData",
          "description": "Profile data."
        }
      }
    },
    "ETFsSectorExposure": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "ETF symbol.",
          "type": "string"
        },
        "sectorExposure": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ETFSectorExposureData"
          },
          "description": "Array of industries and exposure levels."
        }
      }
    }
  }
}