{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Finnhub API - Index",
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "description": "Finnhub API endpoints for index"
  },
  "host": "finnhub.io",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "token",
      "in": "query"
    }
  },
  "paths": {
    "/index/constituents": {
      "get": {
        "summary": "Indices Constituents",
        "description": "Get a list of index's constituents. A list of supported indices for this endpoint can be found <a href=\"/api/v1/index/list?token=\" target=\"_blank\">here</a>.",
        "operationId": "indices-constituents",
        "navHeader": "Indices Constituents",
        "urlId": "indices-constituents",
        "title": "Indices Constituents API",
        "examples": [
          {
            "url": "/index/constituents?symbol=^GSPC&token=<token>",
            "text": "/index/constituents?symbol=^GSPC"
          },
          {
            "url": "/index/constituents?symbol=^FTSE&token=<token>",
            "text": "/index/constituents?symbol=^FTSE"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "ETFs & Indices",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "symbol",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/IndicesConstituents"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.indices_const(symbol = \"^GSPC\"))",
          "go": "res, _, err := finnhubClient.IndicesConstituents(context.Background()).Symbol(\"^GSPC\").Execute()",
          "javascript": "finnhubClient.indicesConstituents(\"^GSPC\", (error, data, response) => {\n  console.log(data);\n});",
          "ruby": "puts(finnhub_client.indices_constituents(\"^GSPC\"))",
          "kotlin": "println(apiClient.indicesConstituents(\"^GSPC\"))",
          "php": "print_r($client->indicesConstituents(\"^GSPC\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"constituents\": [\n    \"AAPL\",\n    \"MSFT\"\n  ],\n  \"constituentsBreakdown\": [\n    {\n      \"cusip\": \"037833100\",\n      \"isin\": \"US0378331005\",\n      \"name\": \"Apple Inc\",\n      \"shareClassFIGI\": \"BBG001S5N8V8\",\n      \"symbol\": \"AAPL\",\n      \"weight\": 7.03049\n    },\n    {\n      \"cusip\": \"594918104\",\n      \"isin\": \"US5949181045\",\n      \"name\": \"Microsoft Corp\",\n      \"shareClassFIGI\": \"BBG001S5TD05\",\n      \"symbol\": \"MSFT\",\n      \"weight\": 6.3839\n    }\n  ],\n  \"symbol\": \"^GSPC\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/index/historical-constituents": {
      "get": {
        "summary": "Indices Historical Constituents",
        "description": "Get full history of index's constituents including symbols and dates of joining and leaving the Index. Currently support <code>^GSPC</code>, <code>^NDX</code>, <code>^DJI</code>",
        "operationId": "indices-historical-constituents",
        "navHeader": "Historical Constituents",
        "urlId": "indices-historical-constituents",
        "title": "Indices Historical Constituents API | Join & Leave History",
        "examples": [
          {
            "url": "/index/historical-constituents?symbol=^GSPC&token=<token>",
            "text": "/index/historical-constituents?symbol=^GSPC"
          },
          {
            "url": "/index/historical-constituents?symbol=^NDX&token=<token>",
            "text": "/index/historical-constituents?symbol=^NDX"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium required.",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "ETFs & Indices",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "symbol",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/IndicesHistoricalConstituents"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.indices_hist_const(symbol = \"^GSPC\"))",
          "go": "res, _, err := finnhubClient.IndicesHistoricalConstituents(context.Background()).Symbol(\"^GSPC\").Execute()",
          "javascript": "finnhubClient.indicesHistoricalConstituents(\"^GSPC\", (error, data, response) => {\n  console.log(data);\n});",
          "ruby": "puts(finnhub_client.indices_historical_constituents(\"^GSPC\"))",
          "kotlin": "println(apiClient.indicesHistoricalConstituents(\"^GSPC\"))",
          "php": "print_r($client->indicesHistoricalConstituents(\"^GSPC\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"historicalConstituents\": [\n    {\n      \"action\": \"add\",\n      \"symbol\": \"TYL\",\n      \"date\": \"2020-06-22\"\n    },\n    {\n      \"action\": \"add\",\n      \"symbol\": \"TDY\",\n      \"date\": \"2020-06-22\"\n    },\n    {\n      \"action\": \"remove\",\n      \"symbol\": \"JWN\",\n      \"date\": \"2020-06-22\"\n    }\n  ],\n  \"symbol\": \"^GSPC\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "definitions": {
    "IndexHistoricalConstituent": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol",
          "type": "string"
        },
        "action": {
          "description": "<code>add</code> or <code>remove</code>.",
          "type": "string"
        },
        "date": {
          "description": "Date of joining or leaving the index.",
          "type": "string",
          "format": "date"
        }
      }
    },
    "IndicesConstituents": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Index's symbol.",
          "type": "string"
        },
        "constituents": {
          "type": "array",
          "description": "Array of constituents.",
          "items": {
            "type": "string"
          }
        },
        "constituentsBreakdown": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IndicesConstituentsBreakdown"
          },
          "description": "Array of constituents' details."
        }
      }
    },
    "IndicesConstituentsBreakdown": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "name": {
          "description": "Name.",
          "type": "string"
        },
        "isin": {
          "description": "ISIN.",
          "type": "string"
        },
        "cusip": {
          "description": "Cusip.",
          "type": "string"
        },
        "shareClassFIGI": {
          "description": "Global Share Class FIGI.",
          "type": "string"
        },
        "weight": {
          "description": "Weight.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "IndicesHistoricalConstituents": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Index's symbol.",
          "type": "string"
        },
        "historicalConstituents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IndexHistoricalConstituent"
          },
          "description": "Array of historical constituents."
        }
      }
    }
  }
}