{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Finnhub API - Institutional",
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "description": "Finnhub API endpoints for institutional"
  },
  "host": "finnhub.io",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "token",
      "in": "query"
    }
  },
  "paths": {
    "/institutional/ownership": {
      "get": {
        "summary": "Institutional Ownership",
        "description": "Get a list institutional investors' positions for a particular stock overtime. Data from 13-F filings. Limit to 1 year of data at a time.",
        "operationId": "institutional-ownership",
        "navHeader": "Institutional Ownership",
        "urlId": "institutional-ownership",
        "title": "Institutional Ownership.",
        "examples": [
          {
            "url": "/institutional/ownership?symbol=TSLA&from=2022-09-01&to=2022-10-30&token=<token>",
            "text": "/institutional/ownership?symbol=TSLA&from=2022-09-01&to=2022-10-30"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Fundamentals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Filter by symbol.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "cusip",
            "description": "Filter by CUSIP.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "from",
            "description": "From date <code>YYYY-MM-DD</code>.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "to",
            "description": "To date <code>YYYY-MM-DD</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/InstitutionalOwnership"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.institutional_ownership(symbol=\"TSLA\", cusip=\"\", _from=\"2022-10-01\", to=\"2022-10-11\"))",
          "go": "res, _, err := finnhubClient.InstitutionalOwnership(context.Background()).Symbol(\"TSLA\").From(\"2022-10-01\").To(\"2022-10-11\").Execute()",
          "javascript": "finnhubClient.institutionalOwnership(\"TSLA\", \"\", \"2022-10-01\",\"2022-10-11\", (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.institutional_ownership(\"TSLA\", \"\", \"2022-10-01\",\"2022-10-11\"))\n",
          "kotlin": "println( apiClient.institutionalOwnership(\"TSLA\", \"\", from = \"2022-10-01\", to = \"2022-10-11\"))",
          "php": "print_r($client->institutionalOwnership(\"TSLA\", \"\",\"2022-01-01\", \"2022-06-11\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"cusip\": \"023135106\",\n  \"data\": [\n    {\n      \"ownership\": [\n        {\n          \"change\": null,\n          \"cik\": \"1000097\",\n          \"name\": \"KINGDON CAPITAL MANAGEMENT, L.L.C.\",\n          \"noVoting\": 0,\n          \"percentage\": 6.23893,\n          \"putCall\": \"\",\n          \"share\": 11250,\n          \"sharedVoting\": 0,\n          \"soleVoting\": 11250,\n          \"value\": 36674000\n        }\n      ],\n      \"reportDate\": \"2022-03-31\"\n    }\n  ],\n  \"symbol\": \"AMZN\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/institutional/portfolio": {
      "get": {
        "summary": "Institutional Portfolio",
        "description": "Get the holdings/portfolio data of institutional investors from 13-F filings. Limit to 1 year of data at a time. You can get a list of supported CIK <a href=\"/api/v1/institutional/list?token=\" target=\"_blank\">here</a>.",
        "operationId": "institutional-portfolio",
        "navHeader": "Institutional Portfolio",
        "urlId": "institutional-portfolio-13f",
        "title": "Institutional Holdings 13-F API.",
        "examples": [
          {
            "url": "/institutional/portfolio?cik=1000097&from=2022-05-01&to=2022-09-01&token=<token>",
            "text": "/institutional/portfolio?cik=1000097&from=2022-05-01&to=2022-09-01"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Fundamentals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cik",
            "description": "Fund's CIK.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "from",
            "description": "From date <code>YYYY-MM-DD</code>.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "to",
            "description": "To date <code>YYYY-MM-DD</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/InstitutionalPortfolio"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.institutional_portfolio(cik=\"1000097\", _from=\"2022-10-01\", to=\"2022-10-11\"))",
          "go": "res, _, err := finnhubClient.InstitutionalPortfolio(context.Background()).Cik(\"1000097\").From(\"2022-10-01\").To(\"2022-10-11\").Execute()",
          "javascript": "finnhubClient.institutionalPortfolio(\"1000097\", \"2022-10-01\",\"2022-10-11\", (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.institutional_portfolio(\"1000097\", \"2022-10-01\",\"2022-10-11\"))\n",
          "kotlin": "println( apiClient.institutionalPortfolio(\"1000097\", from = \"2022-10-01\", to = \"2020-10-11\"))",
          "php": "print_r($client->institutionalPortfolio(\"1000097\",\"2020-01-01\", \"2020-06-11\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"cik\": \"1000097\",\n  \"data\": [\n    {\n      \"filingDate\": \"2022-06-30\",\n      \"portfolio\": [\n        {\n          \"change\": -41600,\n          \"name\": \"ABBOTT LABS\",\n          \"noVoting\": 0,\n          \"percentage\": 0,\n          \"putCall\": \"\",\n          \"share\": 0,\n          \"sharedVoting\": 0,\n          \"soleVoting\": 41600,\n          \"symbol\": \"ABT\",\n          \"value\": 0\n        },\n        {\n          \"change\": -275000,\n          \"name\": \"ADICET BIO INC\",\n          \"noVoting\": 0,\n          \"percentage\": 0,\n          \"putCall\": \"\",\n          \"share\": 0,\n          \"sharedVoting\": 0,\n          \"soleVoting\": 275000,\n          \"symbol\": \"ACET\",\n          \"value\": 0\n        }\n      ],\n      \"reportDate\": \"2022-06-30\"\n    }\n  ],\n  \"name\": \"KINGDON CAPITAL MANAGEMENT, L.L.C.\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/institutional/profile": {
      "get": {
        "summary": "Institutional Profile",
        "description": "Get a list of well-known institutional investors. Currently support 60+ profiles.",
        "operationId": "institutional-profile",
        "navHeader": "Institutional Profile",
        "urlId": "institutional-profile",
        "title": "Institutional Profile API.",
        "examples": [
          {
            "url": "/institutional/profile?token=<token>",
            "text": "/institutional/profile"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Fundamentals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cik",
            "description": "Filter by CIK. Leave blank to get the full list.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/InstitutionalProfile"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.institutional_profile()",
          "go": "res, _, err := finnhubClient.InstitutionalProfile(context.Background()).Execute()",
          "javascript": "finnhubClient.institutionalProfile({\"cik\": \"\"}, (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.institutional_profile({cik: \"\"}))\n",
          "kotlin": "println(apiClient.institutionalProfile())",
          "php": "print_r($client->institutionalProfile());",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"cik\": \"1067983\",\n  \"data\": [\n    {\n      \"cik\": \"1067983\",\n      \"firmType\": \"Institutional Investment Manager\",\n      \"manager\": \"Warren Buffett\",\n      \"philosophy\": \"Value investing is the hallmark of Warren Buffett's investment approach. By choosing stocks whose share price is below their intrinsic or book value, value investors can increase their returns. This suggests that the stock will increase in value going forward and that the market is now undervaluing it. Only enterprises that Buffett is familiar with are chosen for investment by Berkshire, and a safety margin is always required.\",\n      \"profile\": \"Warren Edward Buffett (born August 30, 1930) is an American business magnate, investor, and philanthropist. He is currently the chairman and CEO of Berkshire Hathaway. He is one of the most successful investors in the world and has a net worth of over $103 billion as of August 2022, making him the world's seventh-wealthiest person. Buffett has been the chairman and largest shareholder of Berkshire Hathaway since 1970. He has been referred to as the \\\"Oracle\\\" or \\\"Sage\\\" of Omaha by global media. He is noted for his adherence to value investing, and his personal frugality despite his immense wealth. Buffett is a philanthropist, having pledged to give away 99 percent of his fortune to philanthropic causes, primarily via the Bill \\u0026 Melinda Gates Foundation. He founded The Giving Pledge in 2010 with Bill Gates, whereby billionaires pledge to give away at least half of their fortunes.\",\n      \"profileImg\": \"https://static4.finnhub.io/file/publicdatany5/guru_profile_pic/1067983.jpg\"\n    }\n  ]\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "definitions": {
    "InstitutionalOwnership": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "cusip": {
          "description": "Cusip.",
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstitutionalOwnershipGroup"
          },
          "description": "Array of institutional investors."
        }
      }
    },
    "InstitutionalOwnershipGroup": {
      "type": "object",
      "properties": {
        "reportDate": {
          "description": "Report date.",
          "type": "string"
        },
        "ownership": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstitutionalOwnershipInfo"
          },
          "description": "Array of institutional investors."
        }
      }
    },
    "InstitutionalOwnershipInfo": {
      "type": "object",
      "properties": {
        "cik": {
          "description": "Investor's company CIK.",
          "type": "string"
        },
        "name": {
          "description": "Firm's name.",
          "type": "string"
        },
        "putCall": {
          "description": "<code>put</code> or <code>call</code> for options.",
          "type": "string"
        },
        "change": {
          "description": "Number of shares change.",
          "type": "number",
          "format": "float"
        },
        "noVoting": {
          "description": "Number of shares with no voting rights.",
          "type": "number",
          "format": "float"
        },
        "percentage": {
          "description": "Percentage of portfolio.",
          "type": "number",
          "format": "float"
        },
        "share": {
          "description": "News score.",
          "type": "number",
          "format": "float"
        },
        "sharedVoting": {
          "description": "Number of shares with shared voting rights.",
          "type": "number",
          "format": "float"
        },
        "soleVoting": {
          "description": "Number of shares with sole voting rights.",
          "type": "number",
          "format": "float"
        },
        "value": {
          "description": "Position value.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "InstitutionalPortfolio": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Investor's name.",
          "type": "string"
        },
        "cik": {
          "description": "CIK.",
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstitutionalPortfolioGroup"
          },
          "description": "Array of positions."
        }
      }
    },
    "InstitutionalPortfolioGroup": {
      "type": "object",
      "properties": {
        "reportDate": {
          "description": "Report date.",
          "type": "string"
        },
        "filingDate": {
          "description": "Filing date.",
          "type": "string"
        },
        "portfolio": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstitutionalPortfolioInfo"
          },
          "description": "Array of positions."
        }
      }
    },
    "InstitutionalPortfolioInfo": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "cusip": {
          "description": "CUSIP.",
          "type": "string"
        },
        "name": {
          "description": "Position's name.",
          "type": "string"
        },
        "putCall": {
          "description": "<code>put</code> or <code>call</code> for options.",
          "type": "string"
        },
        "change": {
          "description": "Number of shares change.",
          "type": "number",
          "format": "float"
        },
        "noVoting": {
          "description": "Number of shares with no voting rights.",
          "type": "number",
          "format": "float"
        },
        "percentage": {
          "description": "Percentage of portfolio.",
          "type": "number",
          "format": "float"
        },
        "share": {
          "description": "Number of shares.",
          "type": "number",
          "format": "float"
        },
        "sharedVoting": {
          "description": "Number of shares with shared voting rights.",
          "type": "number",
          "format": "float"
        },
        "soleVoting": {
          "description": "Number of shares with sole voting rights.",
          "type": "number",
          "format": "float"
        },
        "value": {
          "description": "Position value.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "InstitutionalProfile": {
      "type": "object",
      "properties": {
        "cik": {
          "description": "CIK.",
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstitutionalProfileInfo"
          },
          "description": "Array of investors."
        }
      }
    },
    "InstitutionalProfileInfo": {
      "type": "object",
      "properties": {
        "cik": {
          "description": "Investor's company CIK.",
          "type": "string"
        },
        "firmType": {
          "description": "Firm type.",
          "type": "string"
        },
        "manager": {
          "description": "Manager.",
          "type": "string"
        },
        "philosophy": {
          "description": "Investing philosophy.",
          "type": "string"
        },
        "profile": {
          "description": "Profile info.",
          "type": "string"
        },
        "profileImg": {
          "description": "Profile image.",
          "type": "string"
        }
      }
    }
  }
}