{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Finnhub API - Mutual Fund",
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "description": "Finnhub API endpoints for mutual fund"
  },
  "host": "finnhub.io",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "token",
      "in": "query"
    }
  },
  "paths": {
    "/mutual-fund/country": {
      "get": {
        "summary": "Mutual Funds Country Exposure",
        "description": "Get Mutual Funds country exposure data.",
        "operationId": "mutual-fund-country-exposure",
        "navHeader": "Mutual Funds Country",
        "urlId": "mutual-fund-country-exposure",
        "title": "Mutual Funds Country Exposure Breakdown",
        "examples": [
          {
            "url": "/mutual-fund/country?symbol=FNILX&token=<token>",
            "text": "/mutual-fund/country?symbol=FNILX"
          },
          {
            "url": "/mutual-fund/country?symbol=VFIAX&token=<token>",
            "text": "/mutual-fund/country?symbol=VFIAX"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium required.",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Mutual Funds",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "isin",
            "description": "Fund's isin.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/MutualFundCountryExposure"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.mutual_fund_country_exp(\"VTSAX\"))",
          "go": "res, _, err := finnhubClient.MutualFundCountryExposure(context.Background()).Symbol(\"VTSAX\").Execute()",
          "javascript": "finnhubClient.mutualFundCountryExposure('VTSAX', (error, data, response) => {\n  console.log(data);\n});",
          "ruby": "puts(finnhub_client.mutual_fund_country_exposure('VTSAX'))",
          "kotlin": "println(apiClient.mutualFundCountryExposure(\"VTSAX\"))",
          "php": "print_r($client->mutualFundCountryExposure(\"VTSAX\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"countryExposure\": [\n    {\n      \"country\": \"United States of America (the)\",\n      \"exposure\": 96.87\n    },\n    {\n      \"country\": \"Ireland\",\n      \"exposure\": 1.58\n    },\n    {\n      \"country\": \"United Kingdom of Great Britain and Northern Ireland (the)\",\n      \"exposure\": 0.62\n    },\n    {\n      \"country\": \"Switzerland\",\n      \"exposure\": 0.32\n    },\n    {\n      \"country\": \"Bermuda\",\n      \"exposure\": 0.29\n    },\n    {\n      \"country\": \"Canada\",\n      \"exposure\": 0.2\n    }\n  ],\n  \"symbol\": \"VTSAX\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/mutual-fund/eet": {
      "get": {
        "summary": "Mutual Funds EET",
        "description": "Get EET data for EU funds. For PAIs data, please see the EET PAI endpoint.",
        "operationId": "mutual-fund-eet",
        "navHeader": "Mutual Funds EET",
        "urlId": "mutual-fund-eet",
        "title": "Mutual Funds EET Data API",
        "examples": [
          {
            "url": "/mutual-fund/eet?isin=LU2036931686&token=<token>",
            "text": "/mutual-fund/eet?isin=LU2036931686"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Mutual Funds",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "isin",
            "description": "ISIN.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/MutualFundEet"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.mutual_fund_eet(\"LU2036931686\"))",
          "go": "res, _, err := finnhubClient.MutualFundEet(context.Background()).Isin(\"LU2036931686\").Execute()",
          "javascript": "finnhubClient.mutualFundEet('LU2036931686', (error, data, response) => {\n  console.log(data);\n});",
          "ruby": "puts(finnhub_client.mutual_fund_eet('LU2036931686'))",
          "kotlin": "println(apiClient.mutualFundEet(\"LU2036931686\"))",
          "php": "print_r($client->mutualFundEet(\"LU2036931686\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n   \"data\":{\n      \"boardGenderDiversityConsidered\":true,\n      \"carbonFootprintScope123Considered\":false,\n      \"carbonFootprintScope12Considered\":false,\n      \"clientSustainabilityPreferencesConsidered\":true,\n      \"controversialWeaponsConsidered\":true,\n      \"energyConsumptionIntensityNACEAConsidered\":false,\n      \"exposuretoEnergyEfficientRealEstateAssetsConsidered\":false,\n      \"exposuretoFossilFuelSectorConsidered\":false,\n      \"exposuretoFossilFuelsExtractionStorageTransportManufactureConsidered\":false,\n      \"greenhouseGasEmissionsScope1Considered\":false,\n      \"greenhouseGasEmissionsScope2Considered\":false,\n      \"greenhouseGasEmissionsScope3Considered\":false,\n   },\n   \"isin\":\"LU2036931686\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/mutual-fund/eet-pai": {
      "get": {
        "summary": "Mutual Funds EET PAI",
        "description": "Get EET PAI data for EU funds.",
        "operationId": "mutual-fund-eet-pai",
        "navHeader": "Mutual Funds EET PAI",
        "urlId": "mutual-fund-eet-pai",
        "title": "Mutual Funds EET PAI Data API",
        "examples": [
          {
            "url": "/mutual-fund/eet-pai?isin=LU2036931686&token=<token>",
            "text": "/mutual-fund/eet-pai?isin=LU2036931686"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Mutual Funds",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "isin",
            "description": "ISIN.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/MutualFundEetPai"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.mutual_fund_eet_pai(\"LU2036931686\"))",
          "go": "res, _, err := finnhubClient.MutualFundEetPai(context.Background()).Isin(\"LU2036931686\").Execute()",
          "javascript": "finnhubClient.mutualFundEetPai('LU2036931686', (error, data, response) => {\n  console.log(data);\n});",
          "ruby": "puts(finnhub_client.mutual_fund_eet_pai('LU2036931686'))",
          "kotlin": "println(apiClient.mutualFundEetPai(\"LU2036931686\"))",
          "php": "print_r($client->mutualFundEetPai(\"LU2036931686\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n   \"data\":{\n      \"airPollutantEmissionsCoveredHoldings\":27.94263,\n      \"airPollutantEmissionsEligibleHoldings\":490.89858,\n      \"airPollutantEmissionsNumberHoldingsCovered\":14,\n      \"airPollutantEmissionsPctPortfolioCoverage\":4.57,\n      \"airPollutantEmissionsPctPortfolioEligibleAssets\":79.65,\n      \"airPollutantEmissionsTonnesPerEURm\":1.28271,\n      \"antiHumanTraffickingNumberHoldingsCovered\":67,\n   },\n   \"isin\":\"LU2036931686\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/mutual-fund/holdings": {
      "get": {
        "summary": "Mutual Funds Holdings",
        "description": "Get full Mutual Funds holdings/constituents. This endpoint covers both US and global mutual funds. For international funds, you must query the data using ISIN. A list of supported funds can be found <a href=\"/api/v1/mutual-fund/list?token=\" target=\"_blank\">here</a>.",
        "operationId": "mutual-fund-holdings",
        "navHeader": "Mutual Funds Holdings",
        "urlId": "mutual-fund-holdings",
        "title": "Global Mutual Funds Holdings & Constituents API",
        "examples": [
          {
            "url": "/mutual-fund/holdings?symbol=VTSAX&token=<token>",
            "text": "/mutual-fund/holdings?symbol=VTSAX"
          },
          {
            "url": "/mutual-fund/holdings?isin=US9229087286&skip=1&token=<token>",
            "text": "/mutual-fund/holdings?isin=US9229087286&skip=1"
          },
          {
            "url": "/mutual-fund/holdings?isin=LU1748855837&token=<token>",
            "text": "/mutual-fund/holdings?isin=LU1748855837"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium required.",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Mutual Funds",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Fund's symbol.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "isin",
            "description": "Fund's isin.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "Skip the first n results. You can use this parameter to query historical constituents data. The latest result is returned if skip=0 or not set.",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/MutualFundHoldings"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.mutual_fund_holdings(\"VTSAX\"))",
          "go": "res, _, err := finnhubClient.MutualFundHoldings(context.Background()).Symbol(\"VTSAX\").Execute()",
          "javascript": "finnhubClient.mutualFundHoldings({'symbol': 'VTSAX'}, (error, data, response) => {\n  console.log(data);\n});",
          "ruby": "puts(finnhub_client.mutual_fund_holdings({symbol:'VTSAX'}))",
          "kotlin": "println(apiClient.mutualFundHoldings(\"VTSAX\", \"\", 0))",
          "php": "print_r($client->mutualFundHoldings(\"VTSAX\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"atDate\": \"2023-01-31\",\n  \"holdings\": [\n    {\n      \"assetType\": \"Equity\",\n      \"cusip\": \"037833100\",\n      \"isin\": \"US0378331005\",\n      \"name\": \"Apple Inc\",\n      \"percent\": 5.36984,\n      \"share\": 463159883,\n      \"symbol\": \"AAPL\",\n      \"value\": 66829339518\n    },\n    {\n      \"assetType\": \"Equity\",\n      \"cusip\": \"594918104\",\n      \"isin\": \"US5949181045\",\n      \"name\": \"Microsoft Corp\",\n      \"percent\": 4.54903,\n      \"share\": 228457719,\n      \"symbol\": \"MSFT\",\n      \"value\": 56614107345\n    }\n  ],\n  \"numberOfHoldings\": 3972,\n  \"symbol\": \"VTSAX\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/mutual-fund/profile": {
      "get": {
        "summary": "Mutual Funds Profile",
        "description": "Get mutual funds profile information. This endpoint covers both US and global mutual funds. For international funds, you must query the data using ISIN. A list of supported funds can be found <a href=\"/api/v1/mutual-fund/list?token=\" target=\"_blank\">here</a>.",
        "operationId": "mutual-fund-profile",
        "navHeader": "Mutual Funds Profile",
        "urlId": "mutual-fund-profile",
        "title": "Mutual Funds profile",
        "examples": [
          {
            "url": "/mutual-fund/profile?symbol=VTSAX&token=<token>",
            "text": "/mutual-fund/profile?symbol=VTSAX"
          },
          {
            "url": "/mutual-fund/profile?isin=US9229087286&token=<token>",
            "text": "/mutual-fund/profile?isin=US9229087286"
          },
          {
            "url": "/mutual-fund/profile?isin=LU1748855837&token=<token>",
            "text": "/mutual-fund/profile?isin=LU1748855837"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium required.",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Mutual Funds",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Fund's symbol.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "isin",
            "description": "Fund's isin.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/MutualFundProfile"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.mutual_fund_profile(\"VTSAX\"))",
          "go": "res, _, err := finnhubClient.MutualFundProfile(context.Background()).Symbol(\"VTSAX\").Execute()",
          "javascript": "finnhubClient.mutualFundProfile({'symbol': 'VTSAX'}, (error, data, response) => {\n  console.log(data);\n});",
          "ruby": "puts(finnhub_client.mutual_fund_profile({symbol:'VTSAX'}))",
          "kotlin": "println(apiClient.mutualFundProfile(\"VTSAX\", \"\"))",
          "php": "print_r($client->mutualFundProfile(\"VTSAX\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"profile\": {\n    \"benchmark\": \"CRSP US Total Stock Market TR\",\n    \"beta\": 1.05,\n    \"category\": \"Multi-Cap Core\",\n    \"cusip\": \"\",\n    \"deferredLoad\": 0,\n    \"description\": \"Created in 1992, Vanguard Total Stock Market Index Fund is designed to provide investors with exposure to the entire U.S. equity market, including small-, mid-, and large-cap growth and value stocks. The fund\u2019s key attributes are its low costs, broad diversification, and the potential for tax efficiency. Investors looking for a low-cost way to gain broad exposure to the U.S. stock market who are willing to accept the volatility that comes with stock market investing may wish to consider this fund as either a core equity holding or your only domestic stock fund.\",\n    \"expenseRatio\": 0.04,\n    \"fee12b1\": 0,\n    \"frontLoad\": 0,\n    \"fundFamily\": \"VANGUARD ADMIRAL\",\n    \"inceptionDate\": \"2000-11-13\",\n    \"investmentSegment\": \"Growth & Income\",\n    \"iraMinInvestment\": 0,\n    \"isin\": \"\",\n    \"manager\": \"O'Reilly,Nejman\",\n    \"maxRedemptionFee\": 0,\n    \"name\": \"Vanguard Index Funds: Vanguard Total Stock Market Index Fund; Admiral Class Shares\",\n    \"standardMinInvestment\": 3000,\n    \"status\": \"Open\",\n    \"totalNav\": 280758000000,\n    \"turnover\": 8\n  },\n  \"symbol\": \"VTSAX\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/mutual-fund/sector": {
      "get": {
        "summary": "Mutual Funds Sector Exposure",
        "description": "Get Mutual Funds sector exposure data.",
        "operationId": "mutual-fund-sector-exposure",
        "navHeader": "Mutual Funds Sector",
        "urlId": "mutual-fund-sector-exposure",
        "title": "Mutual Funds Sector Breakdown",
        "examples": [
          {
            "url": "/mutual-fund/sector?symbol=VTSAX&token=<token>",
            "text": "/mutual-fund/sector?symbol=VTSAX"
          },
          {
            "url": "/mutual-fund/sector?symbol=FNILX&token=<token>",
            "text": "/mutual-fund/sector?symbol=FNILX"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium required.",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Mutual Funds",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Mutual Fund symbol.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "isin",
            "description": "Fund's isin.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/MutualFundSectorExposure"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.mutual_fund_sector_exp(\"VTSAX\"))",
          "go": "res, _, err := finnhubClient.MutualFundSectorExposure(context.Background()).Symbol(\"VTSAX\").Execute()",
          "javascript": "finnhubClient.mutualFundSectorExposure('VTSAX', (error, data, response) => {\n  console.log(data);\n});",
          "ruby": "puts(finnhub_client.mutual_fund_sector_exposure('VTSAX'))",
          "kotlin": "println(apiClient.mutualFundSectorExposure(\"VTSAX\"))",
          "php": "print_r($client->mutualFundSectorExposure(\"VTSAX\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"sectorExposure\": [\n    {\n      \"exposure\": 26.2,\n      \"sector\": \"Information Technology\"\n    },\n    {\n      \"exposure\": 13.84,\n      \"sector\": \"Health Care\"\n    },\n    {\n      \"exposure\": 12.29,\n      \"sector\": \"Consumer Discretionary\"\n    },\n    {\n      \"exposure\": 10.46,\n      \"sector\": \"Financials\"\n    }\n  ],\n  \"symbol\": \"VTSAX\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "definitions": {
    "MutualFundCountryExposure": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "countryExposure": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MutualFundCountryExposureData"
          },
          "description": "Array of countries and and exposure levels."
        }
      }
    },
    "MutualFundCountryExposureData": {
      "type": "object",
      "properties": {
        "country": {
          "description": "Country",
          "type": "string"
        },
        "exposure": {
          "description": "Percent of exposure.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "MutualFundEet": {
      "type": "object",
      "properties": {
        "isin": {
          "description": "ISIN.",
          "type": "string"
        },
        "data": {
          "type": "object",
          "$ref": "#/definitions/MutualFundEetData",
          "description": "EET data."
        }
      }
    },
    "MutualFundEetData": {
      "type": "object"
    },
    "MutualFundEetPai": {
      "type": "object",
      "properties": {
        "isin": {
          "description": "ISIN.",
          "type": "string"
        },
        "data": {
          "type": "object",
          "$ref": "#/definitions/MutualFundEetPaiData",
          "description": "EET data."
        }
      }
    },
    "MutualFundEetPaiData": {
      "type": "object"
    },
    "MutualFundHoldings": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "atDate": {
          "description": "Holdings update date.",
          "type": "string",
          "format": "date"
        },
        "numberOfHoldings": {
          "description": "Number of holdings.",
          "type": "integer",
          "format": "int64"
        },
        "holdings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MutualFundHoldingsData"
          },
          "description": "Array of holdings."
        }
      }
    },
    "MutualFundHoldingsData": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol description",
          "type": "string"
        },
        "name": {
          "description": "Security name",
          "type": "string"
        },
        "isin": {
          "description": "ISIN.",
          "type": "string"
        },
        "cusip": {
          "description": "CUSIP.",
          "type": "string"
        },
        "share": {
          "description": "Number of shares.",
          "type": "number",
          "format": "float"
        },
        "percent": {
          "description": "Portfolio's percent",
          "type": "number",
          "format": "float"
        },
        "value": {
          "description": "Market value",
          "type": "number",
          "format": "float"
        },
        "assetType": {
          "description": "Asset type. Can be 1 of the following values: <code>Equity</code>, <code>ETP</code>, <code>Fund</code>, <code>Bond</code>, <code>Other</code> or empty.",
          "type": "string"
        }
      }
    },
    "MutualFundProfile": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "profile": {
          "type": "object",
          "$ref": "#/definitions/MutualFundProfileData",
          "description": "Profile data."
        }
      }
    },
    "MutualFundProfileData": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name",
          "type": "string"
        },
        "category": {
          "description": "Fund's category.",
          "type": "string"
        },
        "investmentSegment": {
          "description": "Investment Segment.",
          "type": "string"
        },
        "totalNav": {
          "description": "NAV.",
          "type": "number",
          "format": "float"
        },
        "expenseRatio": {
          "description": "Expense ratio.",
          "type": "number",
          "format": "float"
        },
        "benchmark": {
          "description": "Index benchmark.",
          "type": "string"
        },
        "inceptionDate": {
          "description": "Inception date.",
          "type": "string",
          "format": "date"
        },
        "description": {
          "description": "Fund's description.",
          "type": "string"
        },
        "fundFamily": {
          "description": "Fund Family.",
          "type": "string"
        },
        "fundCompany": {
          "description": "Fund Company.",
          "type": "string"
        },
        "manager": {
          "description": "Fund's managers.",
          "type": "string"
        },
        "status": {
          "description": "Status.",
          "type": "string"
        },
        "beta": {
          "description": "Beta.",
          "type": "number",
          "format": "float"
        },
        "deferredLoad": {
          "description": "Deferred load.",
          "type": "number",
          "format": "float"
        },
        "fee12b1": {
          "description": "12B-1 fee.",
          "type": "number",
          "format": "float"
        },
        "frontLoad": {
          "description": "Front Load.",
          "type": "number",
          "format": "float"
        },
        "iraMinInvestment": {
          "description": "IRA minimum investment.",
          "type": "number",
          "format": "float"
        },
        "isin": {
          "description": "ISIN.",
          "type": "string"
        },
        "cusip": {
          "description": "CUSIP.",
          "type": "string"
        },
        "maxRedemptionFee": {
          "description": "Max redemption fee.",
          "type": "number",
          "format": "float"
        },
        "standardMinInvestment": {
          "description": "Minimum investment for standard accounts.",
          "type": "number",
          "format": "float"
        },
        "turnover": {
          "description": "Turnover.",
          "type": "number",
          "format": "float"
        },
        "seriesId": {
          "description": "Fund's series ID. This field can be used to group multiple share classes into 1 unique fund.",
          "type": "string"
        },
        "seriesName": {
          "description": "Fund's series name.",
          "type": "string"
        },
        "classId": {
          "description": "Class ID.",
          "type": "string"
        },
        "className": {
          "description": "Class name.",
          "type": "string"
        },
        "sfdrClassification": {
          "description": "SFDR classification for EU funds. Under the new classifications, a fund's strategy will labeled under either Article 6, 8 or 9. Article 6 covers funds which do not integrate any kind of sustainability into the investment process. Article 8, also known as \u2018environmental and socially promoting\u2019, applies \u201c\u2026 where a financial product promotes, among other characteristics, environmental or social characteristics, or a combination of those characteristics, provided that the companies in which the investments are made follow good governance practices.\u201d. Article 9, also known as \u2018products targeting sustainable investments\u2019, covers products targeting bespoke sustainable investments and applies \u201c\u2026 where a financial product has sustainable investment as its objective and an index has been designated as a reference benchmark.\u201d",
          "type": "string"
        },
        "currency": {
          "description": "Fund's currency",
          "type": "string"
        }
      }
    },
    "MutualFundSectorExposure": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Mutual symbol.",
          "type": "string"
        },
        "sectorExposure": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MutualFundSectorExposureData"
          },
          "description": "Array of sector and exposure levels."
        }
      }
    },
    "MutualFundSectorExposureData": {
      "type": "object",
      "properties": {
        "sector": {
          "description": "Sector",
          "type": "string"
        },
        "exposure": {
          "description": "Percent of exposure.",
          "type": "number",
          "format": "float"
        }
      }
    }
  }
}