{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Finnhub API - News",
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "description": "Finnhub API endpoints for news"
  },
  "host": "finnhub.io",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "token",
      "in": "query"
    }
  },
  "paths": {
    "/news": {
      "get": {
        "summary": "Market News",
        "description": "Get latest market news.",
        "operationId": "market-news",
        "navHeader": "Market News",
        "urlId": "market-news",
        "title": "Real-time Market News API",
        "examples": [
          {
            "url": "/news?category=general&token=<token>",
            "text": "/news?category=general"
          },
          {
            "url": "/news?category=forex&minId=10&token=<token>",
            "text": "/news?category=forex&minId=10"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": null,
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Fundamentals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "category",
            "description": "This parameter can be 1 of the following values <code>general, forex, crypto, merger</code>.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "minId",
            "description": "Use this field to get only news after this ID. Default to 0",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MarketNews"
              }
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.general_news('general', min_id=0))",
          "go": "res, _, err := finnhubClient.MarketNews(context.Background()).Category(\"general\").Execute()",
          "javascript": "finnhubClient.marketNews(\"general\", {}, (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.market_news('general', {min_id: 0}))",
          "kotlin": "println(apiClient.marketNews(\"general\", minId = 0))",
          "php": "print_r($client->marketNews(\"forex\", 0));",
          "useTemplate": true
        },
        "sampleResponse": "[\n  {\n    \"category\": \"technology\",\n    \"datetime\": 1596589501,\n    \"headline\": \"Square surges after reporting 64% jump in revenue, more customers using Cash App\",\n    \"id\": 5085164,\n    \"image\": \"https://image.cnbcfm.com/api/v1/image/105569283-1542050972462rts25mct.jpg?v=1542051069\",\n    \"related\": \"\",\n    \"source\": \"CNBC\",\n    \"summary\": \"Shares of Square soared on Tuesday evening after posting better-than-expected quarterly results and strong growth in its consumer payments app.\",\n    \"url\": \"https://www.cnbc.com/2020/08/04/square-sq-earnings-q2-2020.html\"\n  },\n  {\n    \"category\": \"business\",\n    \"datetime\": 1596588232,\n    \"headline\": \"B&G Foods CEO expects pantry demand to hold up post-pandemic\",\n    \"id\": 5085113,\n    \"image\": \"https://image.cnbcfm.com/api/v1/image/106629991-1595532157669-gettyimages-1221952946-362857076_1-5.jpeg?v=1595532242\",\n    \"related\": \"\",\n    \"source\": \"CNBC\",\n    \"summary\": \"\\\"I think post-Covid, people will be working more at home, which means people will be eating more breakfast\\\" and other meals at home, B&G CEO Ken Romanzi said.\",\n    \"url\": \"https://www.cnbc.com/2020/08/04/bg-foods-ceo-expects-pantry-demand-to-hold-up-post-pandemic.html\"\n  },\n  {\n    \"category\": \"top news\",\n    \"datetime\": 1596584406,\n    \"headline\": \"Anthony Levandowski gets 18 months in prison for stealing Google self-driving car files\",\n    \"id\": 5084850,\n    \"image\": \"https://image.cnbcfm.com/api/v1/image/106648265-1596584130509-UBER-LEVANDOWSKI.JPG?v=1596584247\",\n    \"related\": \"\",\n    \"source\": \"CNBC\",\n    \"summary\": \"A U.S. judge on Tuesday sentenced former Google engineer Anthony Levandowski to 18 months in prison for stealing a trade secret from Google related to self-driving cars months before becoming the head of Uber Technologies Inc's rival unit.\",\n    \"url\": \"https://www.cnbc.com/2020/08/04/anthony-levandowski-gets-18-months-in-prison-for-stealing-google-self-driving-car-files.html\"\n  }\n  }]",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/news-sentiment": {
      "get": {
        "summary": "News Sentiment",
        "description": "Get company's news sentiment and statistics. This endpoint is only available for US companies.",
        "operationId": "news-sentiment",
        "navHeader": "News Sentiment",
        "urlId": "news-sentiment",
        "title": "News Sentiment",
        "examples": [
          {
            "url": "/news-sentiment?symbol=V&token=<token>",
            "text": "/news-sentiment?symbol=V"
          },
          {
            "url": "/news-sentiment?symbol=AAPL&token=<token>",
            "text": "/news-sentiment?symbol=AAPL"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Fundamentals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Company symbol.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/NewsSentiment"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.news_sentiment('AAPL'))",
          "go": "res, _, err := finnhubClient.NewsSentiment(context.Background()).Symbol(\"AAPL\").Execute()",
          "javascript": "finnhubClient.newsSentiment('AAPL', (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.news_sentiment('AAPL'))",
          "kotlin": "println(apiClient.newsSentiment(\"AAPL\"))",
          "php": "print_r($client->newsSentiment(\"AAPL\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"buzz\": {\n    \"articlesInLastWeek\": 20,\n    \"buzz\": 0.8888,\n    \"weeklyAverage\": 22.5\n  },\n  \"companyNewsScore\": 0.9166,\n  \"sectorAverageBullishPercent\": 0.6482,\n  \"sectorAverageNewsScore\": 0.5191,\n  \"sentiment\": {\n    \"bearishPercent\": 0,\n    \"bullishPercent\": 1\n  },\n  \"symbol\": \"V\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/company-news": {
      "get": {
        "summary": "Company News",
        "description": "List latest company news by symbol. This endpoint is only available for North American companies.",
        "operationId": "company-news",
        "navHeader": "Company News",
        "urlId": "company-news",
        "title": "Real-time Global Company News API",
        "examples": [
          {
            "url": "/company-news?symbol=AAPL&from=2025-01-15&to=2025-02-20&token=<token>",
            "text": "/company-news?symbol=AAPL&from=2025-01-15&to=2025-02-20"
          }
        ],
        "widget": null,
        "freeTier": "1 year of historical news and new updates",
        "premium": null,
        "newEndpoint": null,
        "highUsage": "High Usage",
        "tags": [
          "Default"
        ],
        "section": "Stock Fundamentals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Company symbol.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "from",
            "description": "From date <code>YYYY-MM-DD</code>.",
            "required": true,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "to",
            "description": "To date <code>YYYY-MM-DD</code>.",
            "required": true,
            "type": "string",
            "format": "date"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompanyNews"
              }
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.company_news('AAPL', _from=\"2020-06-01\", to=\"2020-06-10\"))",
          "go": "res, _, err := finnhubClient.CompanyNews(context.Background()).Symbol(\"AAPL\").From(\"2020-05-01\").To(\"2020-05-01\").Execute()",
          "javascript": "finnhubClient.companyNews(\"AAPL\", \"2020-01-01\", \"2020-05-01\", (error, data, response) => {\n\tconsole.log(data)\n});",
          "ruby": "puts(finnhub_client.company_news('AAPL', \"2020-06-01\", \"2020-06-10\"))",
          "kotlin": "println(apiClient.companyNews(\"AAPL\", from = \"2020-06-01\", to = \"2020-06-10\"))",
          "php": "print_r($client->companyNews(\"AAPL\", \"2020-06-01\", \"2020-06-10\"));",
          "useTemplate": true
        },
        "sampleResponse": "[\n  {\n    \"category\": \"company news\",\n    \"datetime\": 1569550360,\n    \"headline\": \"More sops needed to boost electronic manufacturing: Top govt official More sops needed to boost electronic manufacturing: Top govt official.  More sops needed to boost electronic manufacturing: Top govt official More sops needed to boost electronic manufacturing: Top govt official\",\n    \"id\": 25286,\n    \"image\": \"https://img.etimg.com/thumb/msid-71321314,width-1070,height-580,imgsize-481831,overlay-economictimes/photo.jpg\",\n    \"related\": \"AAPL\",\n    \"source\": \"The Economic Times India\",\n    \"summary\": \"NEW DELHI | CHENNAI: India may have to offer electronic manufacturers additional sops such as cheap credit and incentives for export along with infrastructure support in order to boost production and help the sector compete with China, Vietnam and Thailand, according to a top government official.These incentives, over and above the proposed reduction of corporate tax to 15% for new manufacturing units, are vital for India to successfully attract companies looking to relocate manufacturing facilities.\u201cWhile the tax announcements made last week send a very good signal, in order to help attract investments, we will need additional initiatives,\u201d the official told ET, pointing out that Indian electronic manufacturers incur 8-10% higher costs compared with other Asian countries.Sops that are similar to the incentives for export under the existing Merchandise Exports from India Scheme (MEIS) are what the industry requires, the person said.MEIS gives tax credit in the range of 2-5%. An interest subvention scheme for cheaper loans and a credit guarantee scheme for plant and machinery are some other possible measures that will help the industry, the official added.\u201cThis should be 2.0 (second) version of the electronic manufacturing cluster (EMC) scheme, which is aimed at creating an ecosystem with an anchor company plus its suppliers to operate in the same area,\u201d he said.Last week, finance minister Nirmala Sitharaman announced a series of measures to boost economic growth including a scheme allowing any new manufacturing company incorporated on or after October 1, to pay income tax at 15% provided the company does not avail of any other exemption or incentives.\",\n    \"url\": \"https://economictimes.indiatimes.com/industry/cons-products/electronics/more-sops-needed-to-boost-electronic-manufacturing-top-govt-official/articleshow/71321308.cms\"\n  },\n  {\n    \"category\": \"company news\",\n    \"datetime\": 1569528720,\n    \"headline\": \"How to disable comments on your YouTube videos in 2 different ways\",\n    \"id\": 25287,\n    \"image\": \"https://amp.businessinsider.com/images/5d8d16182e22af6ab66c09e9-1536-768.jpg\",\n    \"related\": \"AAPL\",\n    \"source\": \"Business Insider\",\n    \"summary\": \"You can disable comments on your own YouTube video if you don't want people to comment on it. It's easy to disable comments on YouTube by adjusting the settings for one of your videos in the beta or classic version of YouTube Studio. Visit Business Insider's homepage for more stories . The comments section has a somewhat complicated reputation for creators, especially for those making videos on YouTube . While it can be useful to get the unfiltered opinions of your YouTube viewers and possibly forge a closer connection with them, it can also open you up to quite a bit of negativity. So it makes sense that there may be times when you want to turn off the feature entirely. Just keep in mind that the action itself can spark conversation. If you decide that you don't want to let people leave comments on your YouTube video, here's how to turn off the feature, using either the classic or beta version of the creator studio: How to disable comments on YouTube in YouTube Studio (beta) 1. Go to youtube.com and log into your account, if necessary. 2.\",\n    \"url\": \"https://www.businessinsider.com/how-to-disable-comments-on-youtube\"\n  },\n  {\n    \"category\": \"company news\",\n    \"datetime\": 1569526180,\n    \"headline\": \"Apple iPhone 11 Pro Teardowns Look Encouraging for STMicro and Sony\",\n    \"id\": 25341,\n    \"image\": \"http://s.thestreet.com/files/tsc/v2008/photos/contrib/uploads/ba140938-d409-11e9-822b-fda891ce1fc1.png\",\n    \"related\": \"AAPL\",\n    \"source\": \"TheStreet\",\n    \"summary\": \"STMicroelectronics and Sony each appear to be supplying four chips for Apple's latest flagship iPhones. Many other historical iPhone suppliers also make appearances in the latest teardowns\u2026.STM\",\n    \"url\": \"https://realmoney.thestreet.com/investing/technology/iphone-11-pro-teardowns-look-encouraging-for-stmicro-sony-15105767\"\n  },\n]",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "definitions": {
    "CompanyNews": {
      "type": "object",
      "properties": {
        "category": {
          "description": "News category.",
          "type": "string"
        },
        "datetime": {
          "description": "Published time in UNIX timestamp.",
          "type": "integer",
          "format": "int64"
        },
        "headline": {
          "description": "News headline.",
          "type": "string"
        },
        "id": {
          "description": "News ID. This value can be used for <code>minId</code> params to get the latest news only.",
          "type": "integer",
          "format": "int64"
        },
        "image": {
          "description": "Thumbnail image URL.",
          "type": "string"
        },
        "related": {
          "description": "Related stocks and companies mentioned in the article.",
          "type": "string"
        },
        "source": {
          "description": "News source.",
          "type": "string"
        },
        "summary": {
          "description": "News summary.",
          "type": "string"
        },
        "url": {
          "description": "URL of the original article.",
          "type": "string"
        }
      }
    },
    "CompanyNewsStatistics": {
      "type": "object",
      "properties": {
        "articlesInLastWeek": {
          "description": "",
          "type": "integer",
          "format": "int64"
        },
        "buzz": {
          "description": "",
          "type": "number",
          "format": "float"
        },
        "weeklyAverage": {
          "description": "",
          "type": "number",
          "format": "float"
        }
      }
    },
    "MarketNews": {
      "type": "object",
      "properties": {
        "category": {
          "description": "News category.",
          "type": "string"
        },
        "datetime": {
          "description": "Published time in UNIX timestamp.",
          "type": "integer",
          "format": "int64"
        },
        "headline": {
          "description": "News headline.",
          "type": "string"
        },
        "id": {
          "description": "News ID. This value can be used for <code>minId</code> params to get the latest news only.",
          "type": "integer",
          "format": "int64"
        },
        "image": {
          "description": "Thumbnail image URL.",
          "type": "string"
        },
        "related": {
          "description": "Related stocks and companies mentioned in the article.",
          "type": "string"
        },
        "source": {
          "description": "News source.",
          "type": "string"
        },
        "summary": {
          "description": "News summary.",
          "type": "string"
        },
        "url": {
          "description": "URL of the original article.",
          "type": "string"
        }
      }
    },
    "NewsSentiment": {
      "type": "object",
      "properties": {
        "buzz": {
          "type": "object",
          "$ref": "#/definitions/CompanyNewsStatistics",
          "description": "Statistics of company news in the past week."
        },
        "companyNewsScore": {
          "description": "News score.",
          "type": "number",
          "format": "float"
        },
        "sectorAverageBullishPercent": {
          "description": "Sector average bullish percent.",
          "type": "number",
          "format": "float"
        },
        "sectorAverageNewsScore": {
          "description": "Sectore average score.",
          "type": "number",
          "format": "float"
        },
        "sentiment": {
          "type": "object",
          "$ref": "#/definitions/Sentiment",
          "description": "News sentiment."
        },
        "symbol": {
          "description": "Requested symbol.",
          "type": "string"
        }
      }
    },
    "Sentiment": {
      "type": "object",
      "properties": {
        "bearishPercent": {
          "description": "",
          "type": "number",
          "format": "float"
        },
        "bullishPercent": {
          "description": "",
          "type": "number",
          "format": "float"
        }
      }
    }
  }
}