{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Finnhub API - Scanner",
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "description": "Finnhub API endpoints for scanner"
  },
  "host": "finnhub.io",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "token",
      "in": "query"
    }
  },
  "paths": {
    "/scan/pattern": {
      "get": {
        "summary": "Pattern Recognition",
        "description": "Run pattern recognition algorithm on a symbol. Support double top/bottom, triple top/bottom, head and shoulders, triangle, wedge, channel, flag, and candlestick patterns.",
        "operationId": "pattern-recognition",
        "navHeader": "Pattern Recognition",
        "urlId": "pattern-recognition",
        "title": "Pattern Recognition API for Stocks, Forex, Crypto",
        "examples": [
          {
            "url": "/scan/pattern?symbol=AAPL&resolution=D&token=<token>",
            "text": "/scan/pattern?symbol=AAPL&resolution=D"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Technical Analysis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "resolution",
            "description": "Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M </code>.Some timeframes might not be available depending on the exchange.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/PatternRecognition"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.pattern_recognition('AAPL', 'D'))",
          "go": "res, _, err := finnhubClient.PatternRecognition(context.Background()).Symbol(\"AAPL\").Resolution(\"D\").Execute()",
          "javascript": "finnhubClient.patternRecognition(\"AAPL\", \"D\", (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.pattern_recognition('AAPL', 'D'))",
          "kotlin": "println(apiClient.patternRecognition(\"AAPL\", \"D\"))",
          "php": "print_r($client->patternRecognition(\"AAPL\", \"D\"));",
          "useTemplate": true
        },
        "sampleResponse": "\"points\": [\n    {\n      \"aprice\": 1.09236,\n      \"atime\": 1567458000,\n      \"bprice\": 1.1109,\n      \"btime\": 1568322000,\n      \"cprice\": 1.09897,\n      \"ctime\": 1568667600,\n      \"dprice\": 0,\n      \"dtime\": 0,\n      \"end_price\": 1.1109,\n      \"end_time\": 1568926800,\n      \"entry\": 1.1109,\n      \"eprice\": 0,\n      \"etime\": 0,\n      \"mature\": 0,\n      \"patternname\": \"Double Bottom\",\n      \"patterntype\": \"bullish\",\n      \"profit1\": 1.1294,\n      \"profit2\": 0,\n      \"sortTime\": 1568926800,\n      \"start_price\": 1.1109,\n      \"start_time\": 1566853200,\n      \"status\": \"incomplete\",\n      \"stoploss\": 1.0905,\n      \"symbol\": \"EUR_USD\",\n      \"terminal\": 0\n    },\n    {\n      \"aprice\": 1.09236,\n      \"atime\": 1567458000,\n      \"bprice\": 1.1109,\n      \"btime\": 1568322000,\n      \"cprice\": 1.09897,\n      \"ctime\": 1568667600,\n      \"dprice\": 1.13394884,\n      \"dtime\": 1568926800,\n      \"entry\": 1.1339,\n      \"mature\": 0,\n      \"patternname\": \"Bat\",\n      \"patterntype\": \"bearish\",\n      \"profit1\": 1.1181,\n      \"profit2\": 1.1082,\n      \"przmax\": 1.1339,\n      \"przmin\": 1.129,\n      \"rrratio\": 3.34,\n      \"sortTime\": 1568667600,\n      \"status\": \"incomplete\",\n      \"stoploss\": 1.1416,\n      \"symbol\": \"EUR_USD\",\n      \"terminal\": 0,\n      \"xprice\": 1.1393,\n      \"xtime\": 1561669200\n    }\n]",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/scan/support-resistance": {
      "get": {
        "summary": "Support/Resistance",
        "description": "Get support and resistance levels for a symbol.",
        "operationId": "support-resistance",
        "navHeader": "Support/Resistance",
        "urlId": "support-resistance",
        "title": "Support/Resistance Levels API for Stocks, Forex, Crypto",
        "examples": [
          {
            "url": "/scan/support-resistance?symbol=IBM&resolution=D&token=<token>",
            "text": "/scan/support-resistance?symbol=IBM&resolution=D"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Technical Analysis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "resolution",
            "description": "Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M </code>.Some timeframes might not be available depending on the exchange.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/SupportResistance"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.support_resistance('AAPL', 'D'))",
          "go": "res, _, err := finnhubClient.SupportResistance(context.Background()).Symbol(\"AAPL\").Resolution(\"D\").Execute()",
          "javascript": "finnhubClient.supportResistance(\"AAPL\", \"D\", (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.support_resistance('AAPL', 'D'))",
          "kotlin": "println(apiClient.supportResistance(\"AAPL\", \"D\"))",
          "php": "print_r($client->supportResistance(\"AAPL\", \"D\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"levels\": [\n    1.092360019683838,\n    1.1026300191879272,\n    1.113450050354004,\n    1.1233500242233276,\n    1.134719967842102,\n    1.1513700485229492\n  ]\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/scan/technical-indicator": {
      "get": {
        "summary": "Aggregate Indicators",
        "description": "Get aggregate signal of multiple technical indicators such as MACD, RSI, Moving Average v.v. A full list of indicators can be found <a href=\"https://docs.google.com/spreadsheets/d/1MWuy0WuT2yVlxr1KbPdggVygMZtJfunDnhe-C0GEXYM/edit?usp=sharing\" target=\"_blank\">here</a>.",
        "operationId": "aggregate-indicator",
        "navHeader": "Aggregate Indicators",
        "urlId": "aggregate-indicator",
        "title": "Aggregate Indicators/Technical Signal API for Stocks, Forex, Crypto",
        "examples": [
          {
            "url": "/scan/technical-indicator?symbol=AAPL&resolution=D&token=<token>",
            "text": "/scan/technical-indicator?symbol=AAPL&resolution=D"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Technical Analysis",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "symbol",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "resolution",
            "description": "Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M </code>.Some timeframes might not be available depending on the exchange.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/AggregateIndicators"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.aggregate_indicator('AAPL', 'D'))",
          "go": "res, _, err := finnhubClient.AggregateIndicator(context.Background()).Symbol(\"AAPL\").Resolution(\"D\").Execute()",
          "javascript": "finnhubClient.aggregateIndicator(\"AAPL\", \"D\", (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.aggregate_indicator('AAPL', 'D'))",
          "kotlin": "println(apiClient.aggregateIndicator(\"AAPL\", \"D\"))",
          "php": "print_r($client->aggregateIndicator(\"AAPL\", \"D\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"technicalAnalysis\": {\n    \"count\": {\n      \"buy\": 6,\n      \"neutral\": 7,\n      \"sell\": 4\n    },\n    \"signal\": \"neutral\"\n  },\n  \"trend\": {\n    \"adx\": 24.46020733373421,\n    \"trending\": false\n  }\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "definitions": {
    "AggregateIndicators": {
      "type": "object",
      "properties": {
        "technicalAnalysis": {
          "type": "object",
          "$ref": "#/definitions/TechnicalAnalysis",
          "description": "Number of indicator signals strong buy, buy, neutral, sell, strong sell signals."
        },
        "trend": {
          "type": "object",
          "$ref": "#/definitions/Trend",
          "description": "Whether the market is trending."
        }
      }
    },
    "Indicator": {
      "type": "object",
      "properties": {
        "buy": {
          "description": "Number of buy signals",
          "type": "integer",
          "format": "int64"
        },
        "neutral": {
          "description": "Number of neutral signals",
          "type": "integer",
          "format": "int64"
        },
        "sell": {
          "description": "Number of sell signals",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "PatternRecognition": {
      "type": "object",
      "properties": {
        "points": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScanPattern"
          },
          "description": "Array of patterns."
        }
      }
    },
    "ScanPattern": {
      "type": "object"
    },
    "SupportResistance": {
      "type": "object",
      "properties": {
        "levels": {
          "type": "array",
          "description": "Array of support and resistance levels.",
          "items": {
            "type": "number",
            "format": "float"
          }
        }
      }
    },
    "TechnicalAnalysis": {
      "type": "object",
      "properties": {
        "count": {
          "type": "object",
          "$ref": "#/definitions/Indicator",
          "description": "Number of indicators for each signal"
        },
        "signal": {
          "description": "Aggregate Signal",
          "type": "string"
        }
      }
    },
    "Trend": {
      "type": "object",
      "properties": {
        "adx": {
          "description": "ADX reading",
          "type": "number",
          "format": "float"
        },
        "trending": {
          "description": "Whether market is trending or going sideway",
          "type": "boolean"
        }
      }
    }
  }
}