{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Finnhub API - Stock",
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "description": "Finnhub API endpoints for stock"
  },
  "host": "finnhub.io",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "token",
      "in": "query"
    }
  },
  "paths": {
    "/quote": {
      "get": {
        "summary": "Quote",
        "description": "<p>Get real-time quote data for US stocks. Constant polling is not recommended. Use websocket if you need real-time updates.</p><p>Real-time stock prices for international markets are supported for Enterprise clients via our partner's feed. <a href=\"mailto:support@finnhub.io\">Contact Us</a> to learn more.</p>",
        "operationId": "quote",
        "navHeader": "Quote",
        "urlId": "quote",
        "title": "Global Stocks, Forex, Crypto price",
        "examples": [
          {
            "url": "/quote?symbol=AAPL&token=<token>",
            "text": "/quote?symbol=AAPL"
          },
          {
            "url": "/quote?symbol=MSFT&token=<token>",
            "text": "/quote?symbol=MSFT"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": null,
        "newEndpoint": null,
        "highUsage": "High Usage",
        "tags": [
          "Default"
        ],
        "section": "Stock Price",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/Quote"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.quote('AAPL'))",
          "go": "res, _, err := finnhubClient.Quote(context.Background()).Symbol(\"AAPL\").Execute()",
          "javascript": "finnhubClient.quote(\"AAPL\", (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.quote('AAPL'))",
          "kotlin": "println(apiClient.quote(\"AAPL\"))",
          "php": "print_r($client->quote(\"AAPL\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"c\": 261.74,\n  \"h\": 263.31,\n  \"l\": 260.68,\n  \"o\": 261.07,\n  \"pc\": 259.45,\n  \"t\": 1582641000 \n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/bidask": {
      "get": {
        "summary": "Last Bid-Ask",
        "description": "Get last bid/ask data for US stocks.",
        "operationId": "stock-bidask",
        "navHeader": "Last Bid-Ask",
        "urlId": "stock-bidask",
        "title": "Last Bid & Ask",
        "examples": [
          {
            "url": "/stock/bidask?symbol=AAPL&token=<token>",
            "text": "/stock/bidask?symbol=AAPL"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Price",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/LastBid-Ask"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.last_bid_ask('AAPL'))",
          "go": "res, _, err := finnhubClient.StockBidask(context.Background()).Symbol(\"AAPL\").Execute()",
          "javascript": "finnhubClient.stockBidask(\"AAPL\", (error, data, response) => {\n  console.log(data);\n});",
          "ruby": "puts(finnhub_client.stock_bidask('AAPL'))",
          "kotlin": "println(apiClient.stockBidask(\"AAPL\"))",
          "php": "print_r($client->stockBidask(\"AAPL\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"a\": 338.65,\n  \"av\": 2,\n  \"b\": 338.61,\n  \"bv\": 2,\n  \"t\": 1591995678874\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/bbo": {
      "get": {
        "summary": "Historical NBBO",
        "description": "<p>Get historical best bid and offer for US stocks, LSE, TSX, Euronext and Deutsche Borse.</p><p>For US market, this endpoint only serves historical NBBO from the beginning of 2020. To download more historical data, please visit our bulk download page in the Dashboard <a target=\"_blank\" href=\"/dashboard/download\",>here</a>.</p>",
        "operationId": "stock-nbbo",
        "navHeader": "Historical NBBO",
        "urlId": "stock-nbbo",
        "title": "Historical NBBO - Best bid/offer",
        "examples": [
          {
            "url": "/stock/bbo?symbol=AAPL&date=2021-03-09&limit=500&skip=0&format=json&token=<token>",
            "text": "/stock/bbo?symbol=AAPL&date=2021-03-09&limit=500&skip=0&format=json"
          },
          {
            "url": "/stock/bbo?symbol=AC.TO&date=2021-03-09&limit=500&skip=0&format=json&token=<token>",
            "text": "/stock/bbo?symbol=AC.TO&date=2021-03-09&limit=500&skip=0&format=json"
          },
          {
            "url": "/stock/bbo?symbol=BARC.L&date=2021-03-09&limit=500&skip=0&format=json&token=<token>",
            "text": "/stock/bbo?symbol=BARC.L&date=2021-03-09&limit=500&skip=0&format=json"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Price",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "date",
            "description": "Date: 2020-04-02.",
            "required": true,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit number of ticks returned. Maximum value: <code>25000</code>",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "Number of ticks to skip. Use this parameter to loop through the entire data.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/HistoricalNBBO"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.stock_nbbo('AAPL', '2020-03-25', 500, 0))",
          "go": "res, _, err := finnhubClient.StockNbbo(context.Background()).Symbol(\"AAPL\").Date(\"2021-07-23\").Limit(50).Skip(0).Execute()",
          "javascript": "finnhubClient.stockNbbo(\"AAPL\", \"2020-03-25\", 500, 0, (error, data, response) => {\n  console.log(data);\n});",
          "ruby": "puts(finnhub_client.stock_nbbo('NFLX', '2020-03-25', 50, 0))",
          "kotlin": "println(apiClient.stockNbbo(\"AAPL\", \"2020-03-25\", 500, 0))",
          "php": "print_r($client->stockNbbo(\"AAPL\", \"2020-03-25\", 500, 0));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"a\": [\n    137,\n    133.2,\n    126.08\n  ],\n  \"av\": [\n    1,\n    2,\n    1\n  ],\n  \"ax\": [\n    \"P\",\n    \"P\",\n    \"P\"\n  ],\n  \"b\": [\n    116.5,\n    116.5,\n    116.5\n  ],\n  \"bv\": [\n    1,\n    1,\n    1\n  ],\n  \"bx\": [\n    \"P\",\n    \"P\",\n    \"P\"\n  ],\n  \"c\": [\n    [\n      \"1\"\n    ],\n    [\n      \"1\"\n    ],\n    [\n      \"1\"\n    ]\n  ],\n  \"count\": 3,\n  \"s\": \"AAPL\",\n  \"skip\": 5,\n  \"t\": [\n    1615280400047,\n    1615280400047,\n    1615280400047\n  ],\n  \"total\": 2739880\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/candle": {
      "get": {
        "summary": "Stock Candles",
        "description": "<p>Get candlestick data (OHLCV) for stocks.</p><p>Daily data will be adjusted for Splits. Intraday data will remain unadjusted. Only 1 month of intraday will be returned at a time. If you need more historical intraday data, please use the from and to params iteratively to request more data.</p>",
        "operationId": "stock-candles",
        "navHeader": "Candles (OHLCV)",
        "urlId": "stock-candles",
        "title": "Global Stocks OHLCV data | Real-time , Delayed, End-of-day",
        "examples": [
          {
            "url": "/stock/candle?symbol=AAPL&resolution=1&from=1738655051&to=1738741451&token=<token>",
            "text": "/stock/candle?symbol=AAPL&resolution=1&from=1738655051&to=1738741451"
          },
          {
            "url": "/stock/candle?symbol=IBM&resolution=D&from=1735976651&to=1738741451&token=<token>",
            "text": "/stock/candle?symbol=IBM&resolution=D&from=1735976651&to=1738741451"
          }
        ],
        "widget": {
          "url": "https://widget.finnhub.io/widgets/stocks/chart?symbol=AAPL&watermarkColor=%231db954&backgroundColor=%23222222&textColor=white"
        },
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Price",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "resolution",
            "description": "Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M </code>.Some timeframes might not be available depending on the exchange.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "from",
            "description": "UNIX timestamp. Interval initial value.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "to",
            "description": "UNIX timestamp. Interval end value.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/StockCandles"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.stock_candles('AAPL', 'D', 1590988249, 1591852249))",
          "go": "res, _, err := finnhubClient.StockCandles(context.Background()).Symbol(\"AAPL\").Resolution(\"D\").From(1590988249).To(1591852249).Execute()",
          "javascript": "finnhubClient.stockCandles(\"AAPL\", \"D\", 1590988249, 1591852249, (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.stock_candles('AAPL', 'D', 1590988249, 1591852249))",
          "kotlin": "println(apiClient.stockCandles(\"AAPL\", \"D\", 1590988249, 1591852249))",
          "php": "print_r($client->stockCandles(\"AAPL\", \"D\", 1590988249, 1591852249));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"c\": [\n    217.68,\n    221.03,\n    219.89\n  ],\n  \"h\": [\n    222.49,\n    221.5,\n    220.94\n  ],\n  \"l\": [\n    217.19,\n    217.1402,\n    218.83\n  ],\n  \"o\": [\n    221.03,\n    218.55,\n    220\n  ],\n  \"s\": \"ok\",\n  \"t\": [\n    1569297600,\n    1569384000,\n    1569470400\n  ],\n  \"v\": [\n    33463820,\n    24018876,\n    20730608\n  ]\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/congressional-trading": {
      "get": {
        "summary": "Congressional Trading",
        "description": "Get stock trades data disclosed by members of congress.",
        "operationId": "congressional-trading",
        "navHeader": "Congressional Trading",
        "urlId": "congressional-trading",
        "title": "Congressional Stock Trades API.",
        "examples": [
          {
            "url": "/stock/congressional-trading?symbol=AAPL&token=<token>",
            "text": "/stock/congressional-trading?symbol=AAPL"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Alternative Data",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol of the company: AAPL.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "from",
            "description": "From date <code>YYYY-MM-DD</code>.",
            "required": true,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "to",
            "description": "To date <code>YYYY-MM-DD</code>.",
            "required": true,
            "type": "string",
            "format": "date"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/CongressionalTrading"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.congressional_trading('AAPL', '2020-01-01', '2023-03-31'))",
          "go": "res, _, err := finnhubClient.CongressionalTrading(context.Background()).Symbol(\"MSFT\").From(\"2020-01-01\").To(\"2023-01-02\").Execute()",
          "javascript": "finnhubClient.congressionalTrading(\"AAPL\", '2020-01-01', '2023-03-31', (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.congressional_trading('AAPL', '2020-01-01', '2023-03-31'))",
          "kotlin": "println(apiClient.congressionalTrading(\"AAPL\", \"2020-01-01\", \"2023-03-31\"))",
          "php": "print_r($client->congressionalTrading(\"AAPL\", \"2020-01-01\", \"2023-03-31\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"data\": [\n    {\n      \"amountFrom\": 100001,\n      \"amountTo\": 250000,\n      \"assetName\": \"Oppenheimer SteelPath MLP Select 40 Y (NASDAQ)\",\n      \"filingDate\": \"2015-05-14\",\n      \"name\": \"Lamar Alexander\",\n      \"ownerType\": \"Spouse\",\n      \"position\": \"senator\",\n      \"symbol\": \"MLPTX\",\n      \"transactionDate\": \"2014-04-04\",\n      \"transactionType\": \"Purchase\"\n    },\n    {\n      \"amountFrom\": 1001,\n      \"amountTo\": 15000,\n      \"assetName\": \"Oppenheimer SteelPath MLP Select 40 Y (NASDAQ)\",\n      \"filingDate\": \"2015-05-14\",\n      \"name\": \"Lamar Alexander\",\n      \"ownerType\": \"Spouse\",\n      \"position\": \"senator\",\n      \"symbol\": \"MLPTX\",\n      \"transactionDate\": \"2014-02-07\",\n      \"transactionType\": \"Purchase\"\n    }\n  ],\n  \"symbol\": \"MLPTX\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/dividend": {
      "get": {
        "summary": "Dividends",
        "description": "Get dividends data for common stocks going back 30 years.",
        "operationId": "stock-dividends",
        "navHeader": "Dividends",
        "urlId": "stock-dividends",
        "title": "Global Stocks Dividends API",
        "examples": [
          {
            "url": "/stock/dividend?symbol=AAPL&from=2022-02-01&to=2023-02-01&token=<token>",
            "text": "/stock/dividend?symbol=AAPL&from=2022-02-01&to=2023-02-01"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Fundamentals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "from",
            "description": "YYYY-MM-DD.",
            "required": true,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "to",
            "description": "YYYY-MM-DD.",
            "required": true,
            "type": "string",
            "format": "date"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Dividends"
              }
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.stock_dividends('KO', _from='2019-01-01', to='2020-01-01'))",
          "go": "res, _, err := finnhubClient.StockDividends(context.Background()).Symbol(\"KO\").From(\"2019-01-01\").To(\"2021-01-01\").Execute()",
          "javascript": "finnhubClient.stockDividends(\"KO\", \"2019-01-01\", \"2020-06-30\", (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.stock_dividends('KO', '2019-01-01', '2020-01-01'))",
          "kotlin": "println(apiClient.stockDividends(\"KO\", from = \"2019-01-01\", to = \"2020-01-01\"))",
          "php": "print_r($client->stockDividends(\"KO\", \"2019-01-01\", \"2020-01-01\"));",
          "useTemplate": true
        },
        "sampleResponse": "[\n  {\n    \"symbol\": \"AAPL\",\n    \"date\": \"2019-11-07\",\n    \"amount\": 0.77,\n    \"adjustedAmount\": 0.77,\n    \"payDate\": \"2019-11-14\",\n    \"recordDate\": \"2019-11-11\",\n    \"declarationDate\": \"2019-10-30\",\n    \"currency\": \"USD\"\n  },\n  {\n    \"symbol\": \"AAPL\",\n    \"date\": \"2019-08-09\",\n    \"amount\": 0.77,\n    \"adjustedAmount\": 0.77,\n    \"payDate\": \"2019-08-15\",\n    \"recordDate\": \"2019-08-12\",\n    \"declarationDate\": \"2019-07-30\",\n    \"currency\": \"USD\"\n  },\n  {\n    \"symbol\": \"AAPL\",\n    \"date\": \"2019-05-10\",\n    \"amount\": 0.77,\n    \"adjustedAmount\": 0.77,\n    \"payDate\": \"2019-05-16\",\n    \"recordDate\": \"2019-05-13\",\n    \"declarationDate\": \"2019-05-01\",\n    \"currency\": \"USD\"\n  },\n  {\n    \"symbol\": \"AAPL\",\n    \"date\": \"2019-02-08\",\n    \"amount\": 0.73,\n    \"adjustedAmount\": 0.77,\n    \"payDate\": \"2019-02-14\",\n    \"recordDate\": \"2019-02-11\",\n    \"declarationDate\": \"2019-01-29\",\n    \"currency\": \"USD\"\n  }\n]",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/dividend2": {
      "get": {
        "summary": "Dividends 2 (Basic)",
        "description": "Get global dividends data.",
        "operationId": "stock-basic-dividends",
        "navHeader": "Dividends 2",
        "urlId": "stock-basic-dividends",
        "title": "Basic Dividends",
        "examples": [
          {
            "url": "/stock/dividend2?symbol=AAPL&token=<token>",
            "text": "/stock/dividend2?symbol=AAPL"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium required.",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Price",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/Dividends2"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.stock_basic_dividends('AAPL'))",
          "go": "res, _, err := finnhubClient.StockBasicDividends(context.Background()).Symbol(\"KO\").Execute()",
          "javascript": "finnhubClient.stockBasicDividends(\"KO\", (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.stock_basic_dividends('KO'))",
          "kotlin": "println(apiClient.stockBasicDividends(\"KO\"))",
          "php": "print_r($client->stockBasicDividends(\"KO\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"data\": [\n  {\n    \"exDate\": \"2019-11-07\",\n    \"amount\": 0.77,\n    \n  },\n  {\n    \"exDate\": \"2019-08-09\",\n    \"amount\": 0.77,\n  },\n  {\n    \"exDate\": \"2019-05-10\",\n    \"amount\": 0.77,\n  }\n],\n  \"symbol\": \"AAPL\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/earnings": {
      "get": {
        "summary": "Earnings Surprises",
        "description": "Get company historical quarterly earnings surprise going back to 2000.",
        "operationId": "company-earnings",
        "navHeader": "EPS Surprises",
        "urlId": "company-earnings",
        "title": "Global Company EPS Surprises",
        "examples": [
          {
            "url": "/stock/earnings?symbol=AAPL&token=<token>",
            "text": "/stock/earnings?symbol=AAPL"
          },
          {
            "url": "/stock/earnings?symbol=TSLA&token=<token>",
            "text": "/stock/earnings?symbol=TSLA"
          }
        ],
        "widget": {
          "url": "https://widget.finnhub.io/widgets/historical-eps?symbol=AAPL"
        },
        "freeTier": "Last 4 quarters",
        "premium": null,
        "newEndpoint": null,
        "highUsage": "High Usage",
        "tags": [
          "Default"
        ],
        "section": "Stock Estimates",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol of the company: AAPL.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit number of period returned. Leave blank to get the full history.",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EarningResult"
              }
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.company_earnings('TSLA', limit=5))",
          "go": "res, _, err := finnhubClient.CompanyEarnings(context.Background()).Symbol(\"AAPL\").Execute()",
          "javascript": "finnhubClient.companyEarnings(\"AAPL\", {'limit': 10}, (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.company_earnings('TSLA', {limit: 5}))",
          "kotlin": "println(apiClient.companyEarnings(\"TSLA\", limit = 5))",
          "php": "print_r($client->companyEarnings(\"TSLA\", 5));",
          "useTemplate": true
        },
        "sampleResponse": "[\n  {\n    \"actual\": 1.88,\n    \"estimate\": 1.9744,\n    \"period\": \"2023-03-31\",\n    \"quarter\": 1,\n    \"surprise\": -0.0944,\n    \"surprisePercent\": -4.7812,\n    \"symbol\": \"AAPL\",\n    \"year\": 2023\n  },\n  {\n    \"actual\": 1.29,\n    \"estimate\": 1.2957,\n    \"period\": \"2022-12-31\",\n    \"quarter\": 4,\n    \"surprise\": -0.0057,\n    \"surprisePercent\": -0.4399,\n    \"symbol\": \"AAPL\",\n    \"year\": 2022\n  },\n  {\n    \"actual\": 1.2,\n    \"estimate\": 1.1855,\n    \"period\": \"2022-09-30\",\n    \"quarter\": 3,\n    \"surprise\": 0.0145,\n    \"surprisePercent\": 1.2231,\n    \"symbol\": \"AAPL\",\n    \"year\": 2022\n  }\n]",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/earnings-call-live": {
      "get": {
        "summary": "Earnings Call Audio Live",
        "description": "<p>Stream live earnings calls with data provided in the calendar. The data will be available in m3u8 format. mp3 files will be available once the calls finish in the <code>recording</code> field.</p>",
        "operationId": "earnings-call-live",
        "navHeader": "Earnings Call Live",
        "urlId": "earnings-call-live-api",
        "title": "Earnings Call Live API | Stream Live Earnings Calls API",
        "examples": [
          {
            "url": "/stock/earnings-call-live?from=2024-11-01&to=2024-11-07&token=<token>",
            "text": "/stock/earnings-call-live?from=2024-11-01&to=2024-11-07"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium required.",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Alternative Data",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "description": "From date <code>YYYY-MM-DD</code>.",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "to",
            "description": "To date <code>YYYY-MM-DD</code>.",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "symbol",
            "description": "Filter by symbol: AAPL.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/EarningsCallLive"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.earnings_call_live(\"2024-11-01\", \"2024-11-30\"))",
          "go": "res, _, err := finnhubClient.EarningsCallLive(context.Background()).From(\"2024-11-01\").To(\"2024-11-30\").Execute()",
          "javascript": "finnhubClient.earningsCallLive(\"NVDA\", \"2024-11-01\", \"2024-11-30\", (error, data, response) => {\n\tconsole.log(data)\n});",
          "ruby": "puts(finnhub_client.earnings_call_live('NVDA', \"2024-11-01\", \"2024-11-30\"))",
          "kotlin": "println(apiClient.earningsCallLive(\"NVDA\", from = \"2024-11-01\", to = \"2024-11-30\"))",
          "php": "print_r($client->earningsCallLive(\"NVDA\", \"2024-11-01\", \"2024-11-30\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"event\": [\n    {\n      \"symbol\": \"NVDA\",\n      \"year\": 2025,\n      \"quarter\": 3,\n      \"event\": \"NVDA - Earnings call Q3 year\",\n      \"time\": \"2024-11-20 22:00:00\",\n      \"liveAudio\": \"https://live.finnhub.io/hls/2063191eb8563e1645fe3bde2b057511dce4f8a0fb39a2fb9/audio.m3u8\",\n      \"recording\": \"\"\n    },\n    {\n      \"symbol\": \"SNOW\",\n      \"year\": 2025,\n      \"quarter\": 3,\n      \"event\": \"SNOW - Earnings call Q3 year\",\n      \"time\": \"2024-11-20 22:00:00\",\n      \"liveAudio\": \"https://live.finnhub.io/hls/869c16f0fe27d972d49b511f18eea69499c6f0c460a28/audio.m3u8\",\n      \"recording\": \"\"\n    }\n  ]\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/earnings-quality-score": {
      "get": {
        "summary": "Company Earnings Quality Score",
        "description": "<p>This endpoint provides Earnings Quality Score for global companies.</p><p> Earnings quality refers to the extent to which current earnings predict future earnings. \"High-quality\" earnings are expected to persist, while \"low-quality\" earnings do not. A higher score means a higher earnings quality</p><p>Finnhub uses a proprietary model which takes into consideration 4 criteria:</p> <ul style=\"list-style-type: unset; margin-left: 30px;\"><li>Profitability</li><li>Growth</li><li>Cash Generation & Capital Allocation</li><li>Leverage</li></ul><br/><p>We then compare the metrics of each company in each category against its peers in the same industry to gauge how quality its earnings is.</p>",
        "operationId": "company-earnings-quality-score",
        "navHeader": "Earnings Quality Score",
        "urlId": "company-earnings-quality-score-api",
        "title": "Company Earnings Quality Score API",
        "examples": [
          {
            "url": "/stock/earnings-quality-score?symbol=AAPL&freq=quarterly&token=<token>",
            "text": "/stock/earnings-quality-score?symbol=AAPL&freq=quarterly"
          },
          {
            "url": "/stock/earnings-quality-score?symbol=WMT&freq=quarterly&token=<token>",
            "text": "/stock/earnings-quality-score?symbol=WMT&freq=quarterly"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Alternative Data",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "freq",
            "description": "Frequency. Currently support <code>annual</code> and <code>quarterly</code>",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/CompanyEarningsQualityScore"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.company_earnings_quality_score('AAPL', 'quarterly'))",
          "go": "res, _, err := finnhubClient.CompanyEarningsQualityScore(context.Background()).Symbol(\"AAPL\").Freq(\"quarterly\").Execute()",
          "javascript": "finnhubClient.companyEarningsQualityScore('AAPL', 'quarterly', (error, data, response) => {\n    console.log(data);\n});",
          "ruby": "puts(finnhub_client.company_earnings_quality_score('AAPL', 'quarterly'))",
          "kotlin": "println(apiClient.companyEarningsQualityScore(\"AAPL\", \"quarterly\"))",
          "php": "print_r($client->companyEarningsQualityScore(\"AAPL\", \"quarterly\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"data\": [\n    {\n      \"capitalAllocation\": 67.6878,\n      \"growth\": 55.8022,\n      \"letterScore\": \"B+\",\n      \"leverage\": 24.5122,\n      \"period\": \"2021-06-01\",\n      \"profitability\": 82.3843,\n      \"score\": 57.5966\n    },\n    {\n      \"capitalAllocation\": 75.1464,\n      \"growth\": 70.2461,\n      \"letterScore\": \"A-\",\n      \"leverage\": 39.5682,\n      \"period\": \"2021-03-01\",\n      \"profitability\": 88.4613,\n      \"score\": 68.3555\n    },\n    {\n      \"capitalAllocation\": 43.8708,\n      \"growth\": 68.1803,\n      \"letterScore\": \"A-\",\n      \"leverage\": 56.1926,\n      \"period\": \"2020-12-01\",\n      \"profitability\": 92.6311,\n      \"score\": 65.2187\n    },\n  ],\n  \"freq\": \"quarterly\",\n  \"symbol\": \"AAPL\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/ebit-estimate": {
      "get": {
        "summary": "EBIT Estimates",
        "description": "Get company's ebit estimates.",
        "operationId": "company-ebit-estimates",
        "navHeader": "EBIT Estimates",
        "urlId": "company-ebit-estimates",
        "title": "Global Company Ebit Estimates",
        "examples": [
          {
            "url": "/stock/ebit-estimate?symbol=AAPL&token=<token>",
            "text": "/stock/ebit-estimate?symbol=AAPL"
          },
          {
            "url": "/stock/ebit-estimate?symbol=TSLA&freq=annual&token=<token>",
            "text": "/stock/ebit-estimate?symbol=TSLA&freq=annual"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Estimates",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol of the company: AAPL.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "freq",
            "description": "Can take 1 of the following values: <code>annual, quarterly</code>. Default to <code>quarterly</code>",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/EbitEstimates"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.company_ebit_estimates('TSLA', freq='quarterly'))",
          "go": "res, _, err := finnhubClient.CompanyEbitEstimates(context.Background()).Symbol(\"AAPL\").Execute()",
          "javascript": "finnhubClient.companyEbitEstimates(\"AAPL\", {}, (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.company_ebit_estimates('TSLA', {freq: 'quarterly'}))",
          "kotlin": "println(apiClient.companyEbitEstimates(\"TSLA\", freq = \"quarterly\"))",
          "php": "print_r($client->companyEbitEstimates(\"TSLA\", \"quarterly\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"data\": [\n    {\n      \"numberAnalysts\": 31,\n      \"period\": \"2020-06-30\",\n      \"ebitAvg\": 58800500000,\n      \"ebitHigh\": 64060000000,\n      \"ebitLow\": 54072000000\n      \"quarter\": 3,\n      \"year\": 2020,\n    },\n    {\n      \"numberAnalysts\": 31,\n      \"period\": \"2020-03-31\",\n      \"ebitAvg\": 61287300000,\n      \"ebitHigh\": 66557000000,\n      \"ebitLow\": 54871000000,\n      \"quarter\": 2,\n      \"year\": 2020,\n    }\n  ],\n  \"freq\": \"quarterly\",\n  \"symbol\": \"AAPL\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/ebitda-estimate": {
      "get": {
        "summary": "EBITDA Estimates",
        "description": "Get company's ebitda estimates.",
        "operationId": "company-ebitda-estimates",
        "navHeader": "EBITDA Estimates",
        "urlId": "company-ebitda-estimates",
        "title": "Global Company Ebitda Estimates",
        "examples": [
          {
            "url": "/stock/ebitda-estimate?symbol=AAPL&token=<token>",
            "text": "/stock/ebitda-estimate?symbol=AAPL"
          },
          {
            "url": "/stock/ebitda-estimate?symbol=TSLA&freq=annual&token=<token>",
            "text": "/stock/ebitda-estimate?symbol=TSLA&freq=annual"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Estimates",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol of the company: AAPL.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "freq",
            "description": "Can take 1 of the following values: <code>annual, quarterly</code>. Default to <code>quarterly</code>",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/EbitdaEstimates"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.company_ebitda_estimates('TSLA', freq='quarterly'))",
          "go": "res, _, err := finnhubClient.CompanyEbitdaEstimates(context.Background()).Symbol(\"AAPL\").Execute()",
          "javascript": "finnhubClient.companyEbitdaEstimates(\"AAPL\", {}, (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.company_ebitda_estimates('TSLA', {freq: 'quarterly'}))",
          "kotlin": "println(apiClient.companyEbitdaEstimates(\"TSLA\", freq = \"quarterly\"))",
          "php": "print_r($client->companyEbitdaEstimates(\"TSLA\", \"quarterly\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"data\": [\n    {\n      \"numberAnalysts\": 31,\n      \"period\": \"2020-06-30\",\n      \"ebitdaAvg\": 58800500000,\n      \"ebitdaHigh\": 64060000000,\n      \"ebitdaLow\": 54072000000,\n      \"quarter\": 3,\n      \"year\": 2020\n    },\n    {\n      \"numberAnalysts\": 31,\n      \"period\": \"2020-03-31\",\n      \"ebitdaAvg\": 61287300000,\n      \"ebitdaHigh\": 66557000000,\n      \"ebitdaLow\": 54871000000,\n      \"quarter\": 2,\n      \"year\": 2020\n    }\n  ],\n  \"freq\": \"quarterly\",\n  \"symbol\": \"AAPL\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/eps-estimate": {
      "get": {
        "summary": "Earnings Estimates",
        "description": "Get company's EPS estimates.",
        "operationId": "company-eps-estimates",
        "navHeader": "EPS Estimates",
        "urlId": "company-eps-estimates",
        "title": "Global Company EPS Estimates",
        "examples": [
          {
            "url": "/stock/eps-estimate?symbol=AAPL&token=<token>",
            "text": "/stock/eps-estimate?symbol=AAPL"
          },
          {
            "url": "/stock/eps-estimate?symbol=AMZN&freq=annual&token=<token>",
            "text": "/stock/eps-estimate?symbol=AMZN&freq=annual"
          }
        ],
        "widget": {
          "url": "https://widget.finnhub.io/widgets/eps-estimate?symbol=AAPL"
        },
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Estimates",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol of the company: AAPL.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "freq",
            "description": "Can take 1 of the following values: <code>annual, quarterly</code>. Default to <code>quarterly</code>",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/EarningsEstimates"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.company_eps_estimates('AAPL', freq='quarterly'))",
          "go": "res, _, err := finnhubClient.CompanyEpsEstimates(context.Background()).Symbol(\"AAPL\").Execute()",
          "javascript": "finnhubClient.companyEpsEstimates(\"AAPL\", {}, (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.company_eps_estimates('AAPL', {freq: 'quarterly'}))",
          "kotlin": "println(apiClient.companyEpsEstimates(\"AAPL\", freq = \"quarterly\"))",
          "php": "print_r($client->companyEpsEstimates(\"AAPL\", \"quarterly\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"data\": [\n    {\n      \"epsAvg\": 2.65,\n      \"epsHigh\": 2.98,\n      \"epsLow\": 2.05,\n      \"numberAnalysts\": 35,\n      \"period\": \"2020-06-30\",\n      \"quarter\": 3,\n      \"year\": 2020\n    },\n    {\n      \"epsAvg\": 2.52,\n      \"epsHigh\": 3.02,\n      \"epsLow\": 2.21,\n      \"numberAnalysts\": 34,\n      \"period\": \"2020-03-31\",\n      \"quarter\": 2,\n      \"year\": 2020\n    }\n  ],\n  \"freq\": \"quarterly\",\n  \"symbol\": \"AAPL\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/esg": {
      "get": {
        "summary": "Company ESG Scores",
        "description": "<p>This endpoint provides the latest ESG scores and important indicators for 7000+ global companies. The data is collected through company's public ESG disclosure and public sources.</p><p>Our ESG scoring models takes into account more than 150 different inputs to calculate the level of ESG risks and how well a company is managing them. A higher score means lower ESG risk or better ESG management. ESG scores are in the the range of 0-100. Some key indicators might contain letter-grade score from C- to A+ with C- is the lowest score and A+ is the highest score.</p>",
        "operationId": "company-esg-score",
        "navHeader": "Company ESG",
        "urlId": "company-esg-score-api",
        "title": "Company ESG Scores API",
        "examples": [
          {
            "url": "/stock/esg?symbol=AAPL&token=<token>",
            "text": "/stock/esg?symbol=AAPL"
          },
          {
            "url": "/stock/esg?symbol=WMT&token=<token>",
            "text": "/stock/esg?symbol=WMT"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Alternative Data",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/CompanyESG"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.company_esg_score(\"AAPL\"))",
          "go": "res, _, err := finnhubClient.CompanyEsgScore(context.Background()).Symbol(\"AAPL\").Execute()",
          "javascript": "finnhubClient.companyEsgScore('AAPL', (error, data, response) => {\n    console.log(data);\n});",
          "ruby": "puts(finnhub_client.company_esg_score('AAPL'))",
          "kotlin": "println(apiClient.companyEsgScore(\"AAPL\"))",
          "php": "print_r($client->companyEsgScore(\"AAPL\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"data\": {\n    \"womenManagementPercentage\": 17.02,\n    \"adultContent\": false,\n    \"alcoholic\": false,\n    \"animalTesting\": false,\n    \"antitrust\": \"C+\",\n    \"asianEmployeePercentage\": 27,\n    \"asianManagementPercentage\": 27,\n    \"blackEmployeePercentage\": 9,\n    \"blackManagementPercentage\": 4,\n    \"carbonReductionPolicy\": null,\n    \"catholic\": false,\n    \"climateStrategy\": \"A+\",\n    \"co2EmissionScope1\": 47430,\n    \"co2EmissionScope2\": 890189,\n    \"co2EmissionScope3\": 22648000,\n    \"co2EmissionTotal\": 937619,\n    \"coalEnergy\": false,\n    \"ecofriendlyPackaging\": null,\n    \"environmentalReporting\": true,\n    \"firearms\": false,\n    \"fuelEfficiencyConsumption\": null,\n    \"furLeather\": false,\n    \"gambling\": false,\n    \"gmo\": false,\n    \"hazardousSubstances\": null,\n    \"hispanicLatinoEmployeePercentage\": 14,\n    \"hispanicLatinoManagementPercentage\": 8,\n    \"humanRightsPolicy\": \"C-\",\n    \"militaryContract\": false,\n    \"nuclear\": false,\n    \"palmOil\": false,\n    \"pesticides\": false,\n    \"privacyPolicy\": \"B-\",\n    \"recallPolicySafety\": null,\n    \"recyclingPolicy\": null,\n    \"stakeholderEngagement\": null,\n    \"sustainableForestryPolicy\": null,\n    \"tobacco\": false,\n    \"totalWomenPercentage\": 34,\n    \"waterEfficiencyConsumption\": null,\n    \"weapons\": false,\n    \"whiteEmployeePercentage\": 47,\n    \"whiteManagementPercentage\": 59,\n    \"workplaceHealthSafety\": null\n  },\n  \"environmentScore\": 73.21,\n  \"governanceScore\": 56.06,\n  \"socialScore\": 45.81,\n  \"symbol\": \"AAPL\",\n  \"totalESGScore\": 56.04\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/executive": {
      "get": {
        "summary": "Company Executive",
        "description": "Get a list of company's executives and members of the Board.",
        "operationId": "company-executive",
        "navHeader": "Company Executive",
        "urlId": "company-executive",
        "title": "Global Company Executives & Compensation",
        "examples": [
          {
            "url": "/stock/executive?symbol=AAPL&token=<token>",
            "text": "/stock/executive?symbol=AAPL"
          },
          {
            "url": "/stock/executive?symbol=AMZN&token=<token>",
            "text": "/stock/executive?symbol=AMZN"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Fundamentals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol of the company: AAPL.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/CompanyExecutive"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.company_executive('AAPL'))",
          "go": "res, _, err := finnhubClient.CompanyExecutive(context.Background()).Symbol(\"AAPL\").Execute()",
          "javascript": "finnhubClient.companyExecutive('AAPL', (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.company_executive('AAPL'))",
          "kotlin": "println(apiClient.companyExecutive(\"AAPL\"))",
          "php": "print_r($client->companyExecutive(\"AAPL\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"executive\": [\n    {\n      \"age\": 56,\n      \"compensation\": 25209637,\n      \"currency\": \"USD\",\n      \"name\": \"Luca Maestri\",\n      \"position\": \"Senior Vice President and Chief Financial Officer\",\n      \"sex\": \"male\",\n      \"since\": \"2014\"\n    },\n    {\n      \"age\": 59,\n      \"compensation\": 11555466,\n      \"currency\": \"USD\",\n      \"name\": \"Mr. Timothy Cook\",\n      \"position\": \"Director and Chief Executive Officer\",\n      \"sex\": \"male\",\n      \"since\": \"2011\"\n    }\n  ]\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/filings": {
      "get": {
        "summary": "SEC Filings",
        "description": "List company's filing. Limit to 250 documents at a time. This data is available for bulk download on <a href=\"https://www.kaggle.com/finnhub/sec-filings\" target=\"_blank\">Kaggle SEC Filings database</a>.",
        "operationId": "filings",
        "navHeader": "SEC Filings",
        "urlId": "filings",
        "title": "Real-time SEC Filings API",
        "examples": [
          {
            "url": "/stock/filings?symbol=AAPL&token=<token>",
            "text": "/stock/filings?symbol=AAPL"
          },
          {
            "url": "/stock/filings?cik=320193&token=<token>",
            "text": "/stock/filings?cik=320193"
          },
          {
            "url": "/stock/filings?accessNumber=0000320193-20-000052&token=<token>",
            "text": "/stock/filings?accessNumber=0000320193-20-000052"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": null,
        "newEndpoint": "New Endpoint",
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Fundamentals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol. Leave <code>symbol</code>,<code>cik</code> and <code>accessNumber</code> empty to list latest filings.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "cik",
            "description": "CIK.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "accessNumber",
            "description": "Access number of a specific report you want to retrieve data from.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "form",
            "description": "Filter by form. You can use this value <code>NT 10-K</code> to find non-timely filings for a company.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "from",
            "description": "From date: 2023-03-15.",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "to",
            "description": "To date: 2023-03-16.",
            "required": false,
            "type": "string",
            "format": "date"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Filing"
              }
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.filings(symbol='AAPL', _from=\"2020-01-01\", to=\"2020-06-11\"))",
          "go": "res, _, err := finnhubClient.Filings(context.Background()).Symbol(\"AAPL\").Execute()",
          "javascript": "finnhubClient.filings({\"symbol\": \"AAPL\"}, (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.filings({symbol: 'AAPL', from: \"2020-01-01\", to: \"2020-06-11\"}))\n",
          "kotlin": "println(\n            apiClient.filings(\n                symbol = \"AAPL\",\n                from = \"2020-01-01\",\n                to = \"2020-06-11\",\n                accessNumber = null,\n                cik = null,\n                form = null\n            )\n        )",
          "php": "print_r($client->filings(\"AAPL\", \"2020-01-01\", \"2020-06-11\"));",
          "useTemplate": true
        },
        "sampleResponse": "[\n  {\n    \"accessNumber\": \"0001193125-20-050884\",\n    \"symbol\": \"AAPL\",\n    \"cik\": \"320193\",\n    \"form\": \"8-K\",\n    \"filedDate\": \"2020-02-27 00:00:00\",\n    \"acceptedDate\": \"2020-02-27 06:14:21\",\n    \"reportUrl\": \"https://www.sec.gov/ix?doc=/Archives/edgar/data/320193/000119312520050884/d865740d8k.htm\",\n    \"filingUrl\": \"https://www.sec.gov/Archives/edgar/data/320193/000119312520050884/0001193125-20-050884-index.html\"\n  },\n  {\n    \"accessNumber\": \"0001193125-20-039203\",\n    \"symbol\": \"AAPL\",\n    \"cik\": \"320193\",\n    \"form\": \"8-K\",\n    \"filedDate\": \"2020-02-18 00:00:00\",\n    \"acceptedDate\": \"2020-02-18 06:24:57\",\n    \"reportUrl\": \"https://www.sec.gov/ix?doc=/Archives/edgar/data/320193/000119312520039203/d845033d8k.htm\",\n    \"filingUrl\": \"https://www.sec.gov/Archives/edgar/data/320193/000119312520039203/0001193125-20-039203-index.html\"\n  },\n  ...\n]",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/filings-sentiment": {
      "get": {
        "summary": "SEC Sentiment Analysis",
        "description": "Get sentiment analysis of 10-K and 10-Q filings from SEC. An abnormal increase in the number of positive/negative words in filings can signal a significant change in the company's stock price in the upcoming 4 quarters. We make use of <a href= \"https://sraf.nd.edu/textual-analysis/resources/\" target=\"_blank\">Loughran and McDonald Sentiment Word Lists</a> to calculate the sentiment for each filing.",
        "operationId": "filings-sentiment",
        "navHeader": "SEC Sentiment Analysis",
        "urlId": "filings-sentiment",
        "title": "Sec Filings Sentiment Analysis",
        "examples": [
          {
            "url": "/stock/filings-sentiment?accessNumber=0000320193-20-000052&token=<token>",
            "text": "/stock/filings-sentiment?accessNumber=0000320193-20-000052"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Fundamentals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "accessNumber",
            "description": "Access number of a specific report you want to retrieve data from.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/SECSentimentAnalysis"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.sec_sentiment_analysis('0000320193-20-000052'))",
          "go": "res, _, err := finnhubClient.FilingsSentiment(context.Background()).AccessNumber(\"0000320193-20-000052\").Execute()",
          "javascript": "finnhubClient.filingsSentiment('0000320193-20-000052', (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.filings_sentiment('0000320193-20-000052', {}))",
          "kotlin": "println(apiClient.filingsSentiment(\"0000320193-20-000052\"))",
          "php": "print_r($client->filingsSentiment(\"0000320193-20-000052\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"cik\": \"320193\",\n  \"symbol\": \"AAPL\",\n  \"accessNumber\": \"0000320193-20-000052\",\n  \"sentiment\": {\n    \"negative\": 1.2698412698412698,\n    \"polarity\": -0.1147540479911535,\n    \"positive\": 0.5042016806722689,\n    \"litigious\": 0.2427637721755369,\n    \"modal-weak\": 0.392156862745098,\n    \"uncertainty\": 1.1391223155929038,\n    \"constraining\": 0.5975723622782446,\n    \"modal-strong\": 0.14939309056956115,\n    \"modal-moderate\": 0.11204481792717086\n  }\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/financials": {
      "get": {
        "summary": "Financial Statements",
        "description": "<p>Get standardized balance sheet, income statement and cash flow for global companies going back 30+ years. Data is sourced from original filings most of which made available through <a href=\"#filings\">SEC Filings</a> and <a href=\"#international-filings\">International Filings</a> endpoints.</p><p><i>Wondering why our standardized data is different from Bloomberg, Reuters, Factset, S&P or Yahoo Finance ? Check out our <a href=\"/faq\">FAQ page</a> to learn more</i></p>",
        "operationId": "financials",
        "navHeader": "Financials",
        "urlId": "financials",
        "title": "Global Company Financial Statements",
        "examples": [
          {
            "url": "/stock/financials?symbol=AAPL&statement=bs&freq=annual&token=<token>",
            "text": "/stock/financials?symbol=AAPL&statement=bs&freq=annual"
          },
          {
            "url": "/stock/financials?symbol=AC.TO&statement=ic&freq=quarterly&token=<token>",
            "text": "/stock/financials?symbol=AC.TO&statement=ic&freq=quarterly"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Fundamentals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol of the company: AAPL.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "statement",
            "description": "Statement can take 1 of these values <code>bs, ic, cf</code> for Balance Sheet, Income Statement, Cash Flow respectively.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "freq",
            "description": "Frequency can take 1 of these values <code>annual, quarterly, ttm, ytd</code>.  TTM (Trailing Twelve Months) option is available for Income Statement and Cash Flow. YTD (Year To Date) option is only available for Cash Flow.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/FinancialStatements"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.financials('AAPL', 'bs', 'annual'))",
          "go": "res, _, err := finnhubClient.Financials(context.Background()).Symbol(\"AAPL\").Statement(\"bs\").Freq(\"annual\").Execute()",
          "javascript": "finnhubClient.financials(\"AAPL\", \"ic\", \"annual\", (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.financials('AAPL', 'bs', 'annual'))",
          "kotlin": "println(apiClient.financials(\"AAPL\", \"bs\", \"annual\"))",
          "php": "print_r($client->financials(\"AAPL\", \"bs\", \"annual\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"financials\": [\n    {\n      \"costOfGoodsSold\": 161782,\n      \"ebit\": 63930,\n      \"grossIncome\": 98392,\n      \"interestExpense\": 3576,\n      \"netIncome\": 55256,\n      \"netIncomeAfterTaxes\": 55256,\n      \"period\": \"2019-09-28\",\n      \"pretaxIncome\": 65737,\n      \"provisionforIncomeTaxes\": 10481,\n      \"researchDevelopment\": 16217,\n      \"revenue\": 260174,\n      \"sgaExpense\": 18245,\n      \"totalOperatingExpense\": 34462,\n      \"year\": 2019\n    }\n  ],\n  \"symbol\": \"AAPL\"\n}    ",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/financials-reported": {
      "get": {
        "summary": "Financials As Reported",
        "description": "Get financials as reported. This data is available for bulk download on <a href=\"https://www.kaggle.com/finnhub/reported-financials\" target=\"_blank\">Kaggle SEC Financials database</a>.",
        "operationId": "financials-reported",
        "navHeader": "Financials As Reported",
        "urlId": "financials-reported",
        "title": "Financials As Reported | Stock API",
        "examples": [
          {
            "url": "/stock/financials-reported?symbol=AAPL&token=<token>",
            "text": "/stock/financials-reported?symbol=AAPL"
          },
          {
            "url": "/stock/financials-reported?cik=320193&freq=quarterly&token=<token>",
            "text": "/stock/financials-reported?cik=320193&freq=quarterly"
          },
          {
            "url": "/stock/financials-reported?accessNumber=0000320193-20-000052&token=<token>",
            "text": "/stock/financials-reported?accessNumber=0000320193-20-000052"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": null,
        "newEndpoint": "New Endpoint",
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Fundamentals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "cik",
            "description": "CIK.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "accessNumber",
            "description": "Access number of a specific report you want to retrieve financials from.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "freq",
            "description": "Frequency. Can be either <code>annual</code> or <code>quarterly</code>. Default to <code>annual</code>.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "from",
            "description": "From date <code>YYYY-MM-DD</code>. Filter for endDate.",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "to",
            "description": "To date <code>YYYY-MM-DD</code>. Filter for endDate.",
            "required": false,
            "type": "string",
            "format": "date"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/FinancialsAsReported"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.financials_reported(symbol='AAPL', freq='annual'))",
          "go": "res, _, err := finnhubClient.FinancialsReported(context.Background()).Symbol(\"AAPL\").Execute()",
          "javascript": "finnhubClient.financialsReported({\"symbol\": \"AAPL\"}, (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.financials_reported({symbol: 'AAPL', freq: 'annual'}))",
          "kotlin": "println(apiClient.financialsReported(symbol = \"AAPL\", freq = \"annual\", accessNumber = null, cik = null))",
          "php": "print_r($client->financialsReported($symbol = \"AAPL\", $freq = \"annual\"));\n",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"cik\": \"320193\",\n  \"data\": [\n    {\n      \"accessNumber\": \"0000320193-19-000119\",\n      \"symbol\": \"AAPL\",\n      \"cik\": \"320193\",\n      \"year\": 2019,\n      \"quarter\": 0,\n      \"form\": \"10-K\",\n      \"startDate\": \"2018-09-30 00:00:00\",\n      \"endDate\": \"2019-09-28 00:00:00\",\n      \"filedDate\": \"2019-10-31 00:00:00\",\n      \"acceptedDate\": \"2019-10-30 18:12:36\",\n      \"report\": {\n        \"bs\": {\n          \"Assets\": 338516000000,\n          \"Liabilities\": 248028000000,\n          \"InventoryNet\": 4106000000,\n          ...\n        },\n        \"cf\": {\n          \"NetIncomeLoss\": 55256000000,\n          \"InterestPaidNet\": 3423000000,\n          ...\n        },\n        \"ic\": {\n          \"GrossProfit\": 98392000000,\n          \"NetIncomeLoss\": 55256000000,\n          \"OperatingExpenses\": 34462000000,\n           ...\n        }\n      }\n    }\n  ],\n  \"symbol\": \"AAPL\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/fund-ownership": {
      "get": {
        "summary": "Fund Ownership",
        "description": "Get a full list fund and institutional investors of a company in descending order of the number of shares held. Data is sourced from <code>13F form</code>, <code>Schedule 13D</code> and <code>13G</code> for US market, <code>UK Share Register</code> for UK market, <code>SEDI</code> for Canadian market and equivalent filings for other international markets.",
        "operationId": "fund-ownership",
        "navHeader": "Fund Ownership",
        "urlId": "fund-ownership",
        "title": "Fund Ownership",
        "examples": [
          {
            "url": "/stock/fund-ownership?symbol=TSLA&limit=20&token=<token>",
            "text": "/stock/fund-ownership?symbol=TSLA&limit=20"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Fundamentals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol of the company: AAPL.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit number of results. Leave empty to get the full list.",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/FundOwnership"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.fund_ownership('AAPL', limit=5))",
          "go": "res, _, err := finnhubClient.FundOwnership(context.Background()).Symbol(\"AAPL\").Execute()",
          "javascript": "let optsLimit = {'limit': 10};\nfinnhubClient.fundOwnership(\"AAPL\", optsLimit, (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.fund_ownership('AAPL', {limit: 5}))",
          "kotlin": "println(apiClient.fundOwnership(\"AAPL\", limit = 5))",
          "php": "print_r($client->fundOwnership(\"AMZN\", 5));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"ownership\": [\n    {\n      \"name\": \"AGTHX | American Funds Growth Fund of America\",\n      \"share\": 5145353,\n      \"change\": 57427,\n      \"filingDate\": \"2020-03-31\",\n      \"portfolioPercent\": 1.88\n    },\n    {\n      \"name\": \"Vanguard Total Stock Market Index Fund\",\n      \"share\": 4227464,\n      \"change\": 73406,\n      \"filingDate\": \"2020-03-31\",\n      \"portfolioPercent\": 0.45\n    },\n    {\n      \"name\": \"ANWPX | American Funds New Perspective\",\n      \"share\": 3377612,\n      \"change\": 0,\n      \"filingDate\": \"2020-03-31\",\n      \"portfolioPercent\": 2.64\n    }\n  ],\n  \"symbol\": \"TSLA\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/historical-employee-count": {
      "get": {
        "summary": "Historical Employee Count",
        "description": "Get historical employee count for global companies.",
        "operationId": "historical-employee-count",
        "navHeader": "Historical Employee",
        "urlId": "historical-employee-count",
        "title": "Global Historical Employee Count API",
        "examples": [
          {
            "url": "/stock/historical-employee-count?symbol=AAPL&from=2022-01-01&to=2024-05-06&token=<token>",
            "text": "/stock/historical-employee-count?symbol=AAPL&from=2022-01-01&to=2024-05-06"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Accessible with Fundamental 2 or All in One subscription.",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Fundamentals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Company symbol.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "from",
            "description": "From date <code>YYYY-MM-DD</code>.",
            "required": true,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "to",
            "description": "To date <code>YYYY-MM-DD</code>.",
            "required": true,
            "type": "string",
            "format": "date"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/HistoricalEmployeeCount"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.historical_employee_count('AAPL', _from=\"2020-06-01\", to=\"2020-06-10\"))",
          "go": "res, _, err := finnhubClient.HistoricalEmployeeCount(context.Background()).Symbol(\"AAPL\").From(\"2020-05-01\").To(\"2020-05-01\").Execute()",
          "javascript": "finnhubClient.historicalEmployeeCount(\"AAPL\", \"2020-01-01\", \"2020-05-01\", (error, data, response) => {\n\tconsole.log(data)\n});",
          "ruby": "puts(finnhub_client.historical_employee_count('AAPL', \"2020-06-01\", \"2020-06-10\"))",
          "kotlin": "println(apiClient.historicalEmployeeCount(\"AAPL\", from = \"2020-06-01\", to = \"2020-06-10\"))",
          "php": "print_r($client->historicalEmployeeCount(\"AAPL\", \"2020-06-01\", \"2020-06-10\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"data\": [\n    {\n      \"atDate\": \"2023-09-30\",\n      \"employee\": 161000\n    },\n    {\n      \"atDate\": \"2022-09-24\",\n      \"employee\": 164000\n    },\n    {\n      \"atDate\": \"2021-09-25\",\n      \"employee\": 154000\n    },\n    {\n      \"atDate\": \"2020-09-26\",\n      \"employee\": 147000\n    }\n  ],\n  \"symbol\": \"AAPL\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/historical-esg": {
      "get": {
        "summary": "Historical ESG Scores",
        "description": "<p>This endpoint provides historical ESG scores and important indicators for 7000+ global companies. The data is collected through company's public ESG disclosure and public sources.</p><p>Our ESG scoring models takes into account more than 150 different inputs to calculate the level of ESG risks and how well a company is managing them. A higher score means lower ESG risk or better ESG management. ESG scores are in the the range of 0-100. Some key indicators might contain letter-grade score from C- to A+ with C- is the lowest score and A+ is the highest score.</p>",
        "operationId": "company-historical-esg-score",
        "navHeader": "Historical ESG",
        "urlId": "company-historical-esg-score-api",
        "title": "Company Historical ESG Scores API",
        "examples": [
          {
            "url": "/stock/historical-esg?symbol=AAPL&token=<token>",
            "text": "/stock/historical-esg?symbol=AAPL"
          },
          {
            "url": "/stock/historical-esg?symbol=WMT&token=<token>",
            "text": "/stock/historical-esg?symbol=WMT"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Alternative Data",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/HistoricalCompanyESG"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.company_historical_esg_score(\"AAPL\"))",
          "go": "res, _, err := finnhubClient.CompanyHistoricalEsgScore(context.Background()).Symbol(\"AAPL\").Execute()",
          "javascript": "finnhubClient.companyHistoricalEsgScore('AAPL', (error, data, response) => {\n    console.log(data);\n});",
          "ruby": "puts(finnhub_client.company_historical_esg_score('AAPL'))",
          "kotlin": "println(apiClient.companyHistoricalEsgScore(\"AAPL\"))",
          "php": "print_r($client->companyHistoricalEsgScore(\"AAPL\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"data\": [\n    {\n      \"data\": {\n        \"adultContent\": false,\n        \"alcoholic\": false,\n        \"animalTesting\": false,\n        \"antitrust\": \"62.0\",\n        \"asianEmployeePercentage\": 27.9,\n        \"asianManagementPercentage\": 29.2,\n        \"blackEmployeePercentage\": 9.4,\n        \"blackManagementPercentage\": 4,\n        \"carbonReductionPolicy\": \"True\",\n        \"catholic\": true,\n        \"co2EmissionScope1\": 55202,\n        \"co2EmissionScope2\": 1003246,\n        \"co2EmissionScope3\": 23128420,\n        \"co2EmissionTotal\": 1058448,\n        \"coalEnergy\": false\n      },\n      \"environmentScore\": 61.74593,\n      \"governanceScore\": 92.81813,\n      \"period\": \"2021-09-25\",\n      \"socialScore\": 76.52558,\n      \"totalESGScore\": 77.02988\n    },\n    {\n      \"data\": {\n        \"adultContent\": false,\n        \"alcoholic\": false,\n        \"animalTesting\": false,\n        \"antitrust\": \"28.0\",\n        \"asianEmployeePercentage\": 27,\n        \"asianManagementPercentage\": 27,\n        \"blackEmployeePercentage\": 9,\n        \"blackManagementPercentage\": 4,\n        \"carbonReductionPolicy\": \"True\",\n        \"catholic\": true,\n        \"co2EmissionScope1\": 47430,\n        \"co2EmissionScope2\": 890189,\n        \"co2EmissionScope3\": 22547000,\n        \"co2EmissionTotal\": 937619\n      },\n      \"environmentScore\": 59.460255,\n      \"governanceScore\": 85.85033,\n      \"period\": \"2020-09-26\",\n      \"socialScore\": 74.40586,\n      \"totalESGScore\": 73.238815\n    }\n  ],\n  \"symbol\": \"AAPL\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/historical-market-cap": {
      "get": {
        "summary": "Historical Market Cap",
        "description": "Get historical market cap data for global companies.",
        "operationId": "historical-market-cap",
        "navHeader": "Historical Market Cap",
        "urlId": "historical-market-cap",
        "title": "Global Historical Market Cap API",
        "examples": [
          {
            "url": "/stock/historical-market-cap?symbol=AAPL&from=2022-01-01&to=2024-05-06&token=<token>",
            "text": "/stock/historical-market-cap?symbol=AAPL&from=2022-01-01&to=2024-05-06"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Accessible with Fundamental 2 or All in One subscription.",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Fundamentals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Company symbol.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "from",
            "description": "From date <code>YYYY-MM-DD</code>.",
            "required": true,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "to",
            "description": "To date <code>YYYY-MM-DD</code>.",
            "required": true,
            "type": "string",
            "format": "date"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/HistoricalMarketCapData"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.historical_market_cap('AAPL', _from=\"2020-06-01\", to=\"2020-06-10\"))",
          "go": "res, _, err := finnhubClient.HistoricalMarketCap(context.Background()).Symbol(\"AAPL\").From(\"2020-05-01\").To(\"2020-05-01\").Execute()",
          "javascript": "finnhubClient.historicalMarketCap(\"AAPL\", \"2020-01-01\", \"2020-05-01\", (error, data, response) => {\n\tconsole.log(data)\n});",
          "ruby": "puts(finnhub_client.historical_market_cap('AAPL', \"2020-06-01\", \"2020-06-10\"))",
          "kotlin": "println(apiClient.historicalMarketCap(\"AAPL\", from = \"2020-06-01\", to = \"2020-06-10\"))",
          "php": "print_r($client->historicalMarketCap(\"AAPL\", \"2020-06-01\", \"2020-06-10\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"currency\": \"USD\",\n  \"data\": [\n    {\n      \"atDate\": \"2024-06-10\",\n      \"marketCapitalization\": 3759.182\n    },\n    {\n      \"atDate\": \"2024-06-09\",\n      \"marketCapitalization\": 21508.447\n    }\n  ],\n  \"symbol\": \"SYM\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/insider-sentiment": {
      "get": {
        "summary": "Insider Sentiment",
        "description": "Get insider sentiment data for US companies calculated using method discussed <a href=\"https://medium.com/@stock-api/finnhub-insiders-sentiment-analysis-cc43f9f64b3a\" target=\"_blank\">here</a>. The MSPR ranges from -100 for the most negative to 100 for the most positive which can signal price changes in the coming 30-90 days.",
        "operationId": "insider-sentiment",
        "navHeader": "Insider Sentiment",
        "urlId": "insider-sentiment",
        "title": "Insider Sentiment API",
        "examples": [
          {
            "url": "/stock/insider-sentiment?symbol=TSLA&from=2015-01-01&to=2022-03-01&token=<token>",
            "text": "/stock/insider-sentiment?symbol=TSLA&from=2015-01-01&to=2022-03-01"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": null,
        "newEndpoint": "New Endpoint",
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Fundamentals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol of the company: AAPL.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "from",
            "description": "From date: 2020-03-15.",
            "required": true,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "to",
            "description": "To date: 2020-03-16.",
            "required": true,
            "type": "string",
            "format": "date"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/InsiderSentiments"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.stock_insider_sentiment('AAPL', '2021-01-01', '2022-03-01'))",
          "go": "res, _, err := finnhubClient.InsiderSentiment(context.Background()).Symbol(\"AAPL\").From(\"2021-01-01\").To(\"2022-07-30\").Execute()",
          "javascript": "finnhubClient.insiderSentiment('AAPL', '2015-01-01', '2022-03-01', (error, data, response) => {\n  console.log(data);\n});",
          "ruby": "puts(finnhub_client.insider_sentiment('AAPL', '2015-01-01', '2022-03-01'))",
          "kotlin": "println(apiClient.insiderSentiment(\"AAPL\", \"2021-01-01\", \"2022-07-07\"))",
          "php": "print_r($client->insiderSentiment(\"AAPL\", \"2021-01-01\", \"2022-03-01\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"data\":[\n    {\n      \"symbol\":\"TSLA\",\n      \"year\":2021,\n      \"month\":3,\n      \"change\":5540,\n      \"mspr\":12.209097\n    },\n    {\n      \"symbol\":\"TSLA\",\n      \"year\":2022,\n      \"month\":1,\n      \"change\":-1250,\n      \"mspr\":-5.6179776\n    },\n    {\n      \"symbol\":\"TSLA\",\n      \"year\":2022,\n      \"month\":2,\n      \"change\":-1250,\n      \"mspr\":-2.1459227\n    },\n    {\n      \"symbol\":\"TSLA\",\n      \"year\":2022,\n      \"month\":3,\n      \"change\":5870,\n      \"mspr\":8.960191\n    }\n  ],\n  \"symbol\":\"TSLA\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/insider-transactions": {
      "get": {
        "summary": "Insider Transactions",
        "description": "Company insider transactions data sourced from <code>Form 3,4,5</code>, SEDI and relevant companies' filings. This endpoint covers US, UK, Canada, Australia, India, and all major EU markets. Limit to 100 transactions per API call.",
        "operationId": "insider-transactions",
        "navHeader": "Insider Transactions",
        "urlId": "insider-transactions",
        "title": "Insider Transactions",
        "examples": [
          {
            "url": "/stock/insider-transactions?symbol=TSLA&token=<token>",
            "text": "/stock/insider-transactions?symbol=TSLA&limit=20"
          },
          {
            "url": "/stock/insider-transactions?symbol=AC.TO&token=<token>",
            "text": "/stock/insider-transactions?symbol=AC.TO"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": null,
        "newEndpoint": "New Endpoint",
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Stock Fundamentals",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol of the company: AAPL. Leave this param blank to get the latest transactions.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "from",
            "description": "From date: 2020-03-15.",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "to",
            "description": "To date: 2020-03-16.",
            "required": false,
            "type": "string",
            "format": "date"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/InsiderTransactions"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.stock_insider_transactions('AAPL', '2021-01-01', '2021-03-01'))",
          "go": "res, _, err := finnhubClient.InsiderTransactions(context.Background()).Symbol(\"AAPL\").From(\"2021-01-01\").To(\"2021-07-30\").Execute()",
          "javascript": "finnhubClient.insiderTransactions('AAPL', (error, data, response) => {\n  console.log(data);\n});",
          "ruby": "puts(finnhub_client.insider_transactions('AAPL'))",
          "kotlin": "println(apiClient.insiderTransactions(\"AAPL\", \"2021-01-01\", \"2021-07-07\"))",
          "php": "print_r($client->insiderTransactions(\"AAPL\", \"2021-01-01\", \"2021-03-01\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"data\": [\n    {\n      \"name\": \"Kirkhorn Zachary\",\n      \"share\": 57234,\n      \"change\": -1250,\n      \"filingDate\": \"2021-03-19\",\n      \"transactionDate\": \"2021-03-17\",\n      \"transactionCode\": \"S\",\n      \"transactionPrice\": 655.81\n    },\n    {\n      \"name\": \"Baglino Andrew D\",\n      \"share\": 20614,\n      \"change\": 1000,\n      \"filingDate\": \"2021-03-31\",\n      \"transactionDate\": \"2021-03-29\",\n      \"transactionCode\": \"M\",\n      \"transactionPrice\": 41.57\n    },\n    {\n      \"name\": \"Baglino Andrew D\",\n      \"share\": 19114,\n      \"change\": -1500,\n      \"filingDate\": \"2021-03-31\",\n      \"transactionDate\": \"2021-03-29\",\n      \"transactionCode\": \"S\",\n      \"transactionPrice\": 615.75\n    }\n  ],\n  \"symbol\": \"TSLA\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/international-filings": {
      "get": {
        "summary": "International Filings",
        "description": "List filings for international companies. Limit to 500 documents at a time. These are the documents we use to source our fundamental data. Enterprise clients who need access to the full filings for global markets should contact us for the access.",
        "operationId": "international-filings",
        "navHeader": "International Filings",
        "urlId": "international-filings",
        "title": "Global Company Filings",
        "examples": [
          {
            "url": "/stock/international-filings?symbol=RY.TO&token=<token>",
            "text": "/stock/international-filings?symbol=RY.TO"
          },
          {
            "url": "/stock/international-filings?country=CA&token=<token>",
            "text": "/stock/international-filings?country=CA"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Access approved on a case by case basis",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Global Filings Search",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol. Leave empty to list latest filings.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "country",
            "description": "Filter by country using country's 2-letter code.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "from",
            "description": "From date: 2023-01-15.",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "to",
            "description": "To date: 2023-12-16.",
            "required": false,
            "type": "string",
            "format": "date"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InternationalFiling"
              }
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.international_filings('AC.TO'))",
          "go": "res, _, err := finnhubClient.InternationalFilings(context.Background()).Symbol(\"AC.TO\").Execute()",
          "javascript": "finnhubClient.internationalFilings({\"symbol\": \"AC.TO\"}, (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.international_filings({symbol: 'AC.TO'}))",
          "kotlin": "println(apiClient.internationalFilings(\"AC.TO\", \"\"))",
          "php": "print_r($client->internationalFilings(\"AC.TO\"));",
          "useTemplate": true
        },
        "sampleResponse": "[\n  {\n    \"symbol\": \"MINDTREE.NS\",\n    \"companyName\": \"MindTree Limited\",\n    \"filedDate\": \"2015-03-31 20:27:00\",\n    \"category\": \"Resignation of Director\",\n    \"title\": \"MindTree Limited has informed the Exchange that Mr. David B Yoffie has resigned as Independent Director of the company. The Board of Directors have accepted his resignation effective March 30, 2015.\",\n    \"description\": \"\",\n    \"url\": \"https://finnhub.io/international-filings?id=523566\",\n    \"language\": \"en\",\n    \"country\": \"IN\"\n  },\n  {\n    \"symbol\": \"INOXLEISUR.NS\",\n    \"companyName\": \"INOX Leisure Limited\",\n    \"filedDate\": \"2015-03-31 20:24:00\",\n    \"category\": \"Updates\",\n    \"title\": \"INOX Leisure Limited has informed the Exchange regarding Commencement of Commercial Operations of Multiplex Cinema Theatre situated at E-wing, Osia Commercial Arcade, SGPDA Market Complex, Margao, Goa 403601.\",\n    \"description\": \"\",\n    \"url\": \"https://finnhub.io/international-filings?id=52152\",\n    \"language\": \"en\",\n    \"country\": \"IN\"\n  }\n]",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/investment-theme": {
      "get": {
        "summary": "Investment Themes (Thematic Investing)",
        "description": "<p>Thematic investing involves creating a portfolio (or portion of a portfolio) by gathering together a collection of companies involved in certain areas that you predict will generate above-market returns over the long term. Themes can be based on a concept such as ageing populations or a sub-sector such as robotics, and drones. Thematic investing focuses on predicted long-term trends rather than specific companies or sectors, enabling investors to access structural, one-off shifts that can change an entire industry.</p><p>This endpoint will help you get portfolios of different investment themes that are changing our life and are the way of the future.</p><p>A full list of themes supported can be found <a target=\"_blank\" href=\"https://docs.google.com/spreadsheets/d/1ULj9xDh4iPoQj279M084adZ2_S852ttRthKKJ7madYc/edit?usp=sharing\">here</a>. The theme coverage and portfolios are updated bi-weekly by our analysts. Our approach excludes penny, super-small cap and illiquid stocks.</p>",
        "operationId": "investment-themes",
        "navHeader": "Investment Themes",
        "urlId": "investment-themes-thematic-investing",
        "title": "Investment Themes (Thematic Investing)",
        "examples": [
          {
            "url": "/stock/investment-theme?theme=financialExchangesData&token=<token>",
            "text": "/stock/investment-theme?theme=financialExchangesData"
          },
          {
            "url": "/stock/investment-theme?theme=futureFood&token=<token>",
            "text": "/stock/investment-theme?theme=futureFood"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": "Premium Access Required",
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Alternative Data",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "theme",
            "description": "Investment theme. A full list of themes supported can be found <a target=\"_blank\" href=\"https://docs.google.com/spreadsheets/d/1ULj9xDh4iPoQj279M084adZ2_S852ttRthKKJ7madYc/edit?usp=sharing\">here</a>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/InvestmentThemes"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.stock_investment_theme('financialExchangesData'))",
          "go": "res, _, err := finnhubClient.InvestmentThemes(context.Background()).Theme(\"financialExchangesData\").Execute()",
          "javascript": "finnhubClient.investmentThemes('financialExchangesData', (error, data, response) => {\n  console.log(data);\n});",
          "ruby": "puts(finnhub_client.investment_themes('financialExchangesData'))",
          "kotlin": "println(apiClient.investmentThemes(\"financialExchangesData\"))",
          "php": "print_r($client->investmentThemes(\"financialExchangesData\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"data\": [\n    {\n      \"symbol\": \"ICE\"\n    },\n    {\n      \"symbol\": \"NDAQ\"\n    },\n    {\n      \"symbol\": \"CBOE\"\n    },\n    {\n      \"symbol\": \"FDS\"\n    },\n    {\n      \"symbol\": \"SPGI\"\n    },\n    {\n      \"symbol\": \"TW\"\n    }\n  ],\n  \"theme\": \"financialExchangesData\"\n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/stock/lobbying": {
      "get": {
        "summary": "Senate Lobbying",
        "description": "Get a list of reported lobbying activities in the Senate and the House.",
        "operationId": "stock-lobbying",
        "navHeader": "Senate Lobbying",
        "urlId": "stock-lobbying",
        "title": "Senate and House lobbying data from public companies",
        "examples": [
          {
            "url": "/stock/lobbying?symbol=AAPL&from=2021-01-01&to=2022-12-31&token=<token>",
            "text": "/stock/lobbying?symbol=AAPL&from=2021-01-01&to=2022-12-31"
          }
        ],
        "widget": null,
        "premium": null,
        "newEndpoint": "New",
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Alternative Data",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "from",
            "description": "From date <code>YYYY-MM-DD</code>.",
            "required": true,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "to",
            "description": "To date <code>YYYY-MM-DD</code>.",
            "required": true,
[...]
